<div class="alfresco-documentlibrary-views-layouts-Carousel">
   <div class="toggleDisplay"></div>
   <div class="items" data-dojo-attach-point="itemsNode">
      <div class="frame">
         <ol data-dojo-attach-point="containerNode"></ol>
      </div>
   </div>
   <div class="controls">
      <!-- TODO: Needs title and alt-text attributes on images -->
      <div data-dojo-attach-point="prevNode" class="prev"><img data-dojo-attach-event="ondijitclick:onPrevClick" src="${contentNavPrevArrowImgSrc}"/></div>
      <div data-dojo-attach-point="nextNode" class="next"><img data-dojo-attach-event="ondijitclick:onNextClick" src="${contentNavNextArrowImgSrc}"/></div>
   <div>
</div>