// Override base Dojo styles
.claro {
   .dijitMenu {
      border-color: @standard-border-color;
   }
   .dijitSelect .dijitInputField, .dijitTextBox .dijitInputField {
      padding: 2px 4px;
   }
}

// Main CSS
.alfresco-forms-controls-BaseFormControl {
   margin-bottom: @standard-line-height;
   // BEM CSS
   &__validation-error {
      display: none;
      height: 16px;
      margin: 0 4px;
      width: 16px;
   }
   &--no-label {
      > .title-row {
         display: none;
      }
   }
   &--invalid {
      > .title-row {
         display: block;
         > .alfresco-forms-controls-BaseFormControl__validation-error {
            display: inline-block;
         }
         > span.validation-message {
            display: inline-block;
         }
      }
   }
   // Legacy CSS
   > .description-row {
      max-width: @dialog-control-section;
      > .description {
         color: @de-emphasized-font-color;
         font-size: @small-font-size;
         line-height: ceil(@small-font-size/@standard-line-height) * @standard-line-height;
         margin: 0 0 @standard-line-height 0;
      }
   }
   &.hiddenlabel > .title-row {
      height: 0;
      left: -999em;
      position: absolute;
   }
   > .control-row {
      display: inline-block;
   }
   > .control-row > .control {
      display: inline-block;
      margin-right: 5px;
   }
   > .title-row {
      display: block;
      > label {
         display: inline-block;
         font-size: @normal-font-size;
         line-height: ceil(@normal-font-size/@standard-line-height) * @standard-line-height;
      }
      > .requirementIndicator {
         display: none;
         &.required {
            display: inline-block;
         }
      }
      > img.validationInProgress {
         height: 16px;
         margin: 2px 0;
         vertical-align: top;
         width: 16px;
         &.hidden {
            display: none;
         }
      }
      > img.inlineHelp {
         cursor: pointer;
         height: 16px;
         margin: 2px 0;
         vertical-align: top;
         width: 16px;
         &.hidden {
            display: none;
         }
      }
      > .validation-message {
         color: #ed2525;
         display: none;
         font-size: @normal-font-size - 3;
         margin: 0;
         width: @dialog-label-section;
      }
   }
   > .units {
      margin-top: 5px;
   }
   > .clear-both {
      clear: both;
   }
   &.long > .control-row > div.control > div {
      width: 472px;
   }
   div.control {
      div.dijitComboBox.dijitTextBoxHover, .dijitTextBoxHover, .dijitTextAreaHover, .dijitTextBoxFocused, .dijitTextAreaFocused, .dijitTextBoxActive, .dijitTextAreaActive {
         background-color: inherit;
         background-image: none;
         border-color: @hover-border-color;
      }
      .dijitPlaceHolder {
         color: @de-emphasized-font-color;
         font-style: normal;
      }
      div.dijitComboBox {
         border-color: @standard-border-color;
      }
      div.dijitComboBox.dijitTextBoxFocused, .dijitActive, .dijitFocused {
         border-color: @focused-border-color;
      }
   }
}

// Special layout
.unmargined {
   .alfresco-forms-controls-BaseFormControl {
      margin-bottom: 0;
      > .clear-both {
         height: 0;
      }
   }
}

// Customised layout within dialog
.alfresco-dialog-AlfDialog {
   .dialog-body {
      .alfresco-forms-Form.root-dialog-form {
         > form {
            > .alfresco-forms-controls-BaseFormControl {
               min-width: @dialog-control-section + 2;
               &--invalid {
                  > .title-row {
                     > span.validation-message {
                        display: block;
                     }
                  }
               }
               > .description-row > .description {
                  margin: 0 0 @standard-line-height @dialog-label-section + 4;
               }
               > .title-row {
                  display: inline;
                  float: left;
                  margin-right: 8px;
                  margin-top: 2px;
                  text-align: right;
                  width: @dialog-label-section - 4;
                  > label:after {
                     content: ":";
                  }
                  > .validation-message {
                     margin: 7px 0 0 -5px;
                  }
               }
            }
         }
      }
   }
}
