.claro .dijitMenu {
   border-color: @standard-border-color;
}

.claro .dijitSelect .dijitInputField,
.claro .dijitTextBox .dijitInputField {
   padding: 2px 4px;
}

.alfresco-forms-controls-BaseFormControl {
   margin-bottom: @standard-line-height;
}

.alfresco-forms-controls-BaseFormControl > .description-row {
   max-width: @dialog-control-section;
}

.alfresco-dialog-AlfDialog .dialog-body .alfresco-forms-Form.root-dialog-form > form >  .alfresco-forms-controls-BaseFormControl {
   min-width: @dialog-control-section + 2;
}

.alfresco-forms-controls-BaseFormControl > .description-row > .description {
   font-size: @small-font-size;
   line-height: ceil(@small-font-size/@standard-line-height) * @standard-line-height;
   margin: 0 0 @standard-line-height 0;
   color: @de-emphasized-font-color;
}

.alfresco-dialog-AlfDialog .dialog-body .alfresco-forms-Form.root-dialog-form > form >  .alfresco-forms-controls-BaseFormControl > .description-row > .description {
   margin: 0 0 @standard-line-height @dialog-label-section + 4;
}

.alfresco-forms-controls-BaseFormControl > .control-row {
   display: inline-block;
}

.alfresco-forms-controls-BaseFormControl > .control-row > .control {
   margin-right: 5px;
   display: inline-block;
}

.alfresco-forms-controls-BaseFormControl > .title-row {
   display: block;
}

.alfresco-dialog-AlfDialog .dialog-body .alfresco-forms-Form.root-dialog-form > form >  .alfresco-forms-controls-BaseFormControl > .title-row {
   display: inline;
   float: left;
   width: @dialog-label-section - 4;
   text-align: right;
   margin-right: 8px;
   margin-top: 2px;
}

.alfresco-forms-controls-BaseFormControl > .title-row > label {
   font-size: @normal-font-size;
   line-height: ceil(@normal-font-size/@standard-line-height) * @standard-line-height;
}

.alfresco-dialog-AlfDialog .dialog-body .alfresco-forms-Form.root-dialog-form > form > .alfresco-forms-controls-BaseFormControl > .title-row > label:after {
   content: ":";
}

.alfresco-forms-controls-BaseFormControl.hiddenlabel > .title-row {
   position: absolute;
   left: -999em;
   height: 0;
}

.alfresco-forms-controls-BaseFormControl > .title-row > .requirementIndicator {
   display: none;
}

.alfresco-forms-controls-BaseFormControl > .title-row > .requirementIndicator.required {
   display: inline-block;
}

.alfresco-forms-controls-BaseFormControl > .title-row > .validation {
   display: none;
}

.alfresco-forms-controls-BaseFormControl > .title-row > img.validationInProgress {
   width: 16px;
   height: 16px;
   margin: 2px 0;
   vertical-align: top;
}

.alfresco-forms-controls-BaseFormControl > .title-row > img.validationInProgress.hidden {
   display: none;
}

.alfresco-forms-controls-BaseFormControl > .title-row > .validation-error {
   background: url("./images/error-16.png");
   display: inline-block;
   height: 16px;
   width: 16px;
   background-repeat: no-repeat;
   margin: 0 4px;
}

.alfresco-forms-controls-BaseFormControl > .title-row > .validation-message {
   display: none;
   width: @dialog-label-section;
   color: #ED2525;
   font-size: @normal-font-size - 3;
   margin: 0;
}

.alfresco-dialog-AlfDialog .dialog-body .alfresco-forms-Form.root-dialog-form > form >  .alfresco-forms-controls-BaseFormControl > .title-row > .validation-message {
   margin: 7px 0 0 -5px;
}

.alfresco-forms-controls-BaseFormControl > .title-row > .validation-message.display {
   display: inline-block;
}

.alfresco-dialog-AlfDialog .dialog-body .alfresco-forms-Form.root-dialog-form > form >  .alfresco-forms-controls-BaseFormControl > .title-row > .validation-message.display {
   display: block;
}

.alfresco-forms-controls-BaseFormControl > .units {
   margin-top: 5px;
}

.alfresco-forms-controls-BaseFormControl > .clear-both {
   clear: both;
}

.unmargined .alfresco-forms-controls-BaseFormControl{
   margin-bottom: 0;
}

.unmargined .alfresco-forms-controls-BaseFormControl > .clear-both {
   height: 0;
}

.alfresco-forms-controls-BaseFormControl.long > .control-row > div.control > div {
   width: 472px;
}

.alfresco-forms-controls-BaseFormControl div.control div.dijitComboBox.dijitTextBoxHover,
.alfresco-forms-controls-BaseFormControl div.control .dijitTextBoxHover,
.alfresco-forms-controls-BaseFormControl div.control .dijitTextAreaHover,
.alfresco-forms-controls-BaseFormControl div.control .dijitTextBoxFocused,
.alfresco-forms-controls-BaseFormControl div.control .dijitTextAreaFocused,
.alfresco-forms-controls-BaseFormControl div.control .dijitTextBoxActive,
.alfresco-forms-controls-BaseFormControl div.control .dijitTextAreaActive {
   border-color: @hover-border-color;
   background-image: none;
   background-color: inherit;
}

.alfresco-forms-controls-BaseFormControl div.control .dijitPlaceHolder {
   font-style: normal;
   color: @de-emphasized-font-color;
}

.alfresco-forms-controls-BaseFormControl div.control div.dijitComboBox {
   border-color: @standard-border-color;
}

.alfresco-forms-controls-BaseFormControl div.control div.dijitComboBox.dijitTextBoxFocused,
.alfresco-forms-controls-BaseFormControl div.control .dijitActive,
.alfresco-forms-controls-BaseFormControl div.control .dijitFocused {
   border-color: @focused-border-color;
}
