/* This will place the check box on the same line as the label row */
.alfresco-forms-controls-CheckBox {
   > .title-row, > .control-row {
      display: inline-block;
   }
   > .title-row {
      > label {
         cursor: pointer;
      }
   }
}
