.alfresco-forms-controls-TextBox .dijitCalendar,
.alfresco-forms-controls-TextBox .dijitCalendar:hover,
.alfresco-forms-controls-TextBox .dijitCalendarHover {
   background-color: #fff !important;
}

.alfresco-forms-controls-TextBox .dijitCalendarDateTemplate,
.alfresco-forms-controls-TextBox .dijitCalendarPreviousMonth,
.alfresco-forms-controls-TextBox .dijitCalendarNextMonth {
   border-bottom-color: #fff !important;
   background-color: #fff !important;
}

.alfresco-forms-controls-TextBox .dijitCalendarPreviousMonth .dijitCalendarDateLabel,
.alfresco-forms-controls-TextBox .dijitCalendarNextMonth .dijitCalendarDateLabel {
   color: #cccccc !important;
   border-color: #fff !important;
}

