.alfresco-forms-controls-BaseFormControl {
   > .control-row {
      > .control {

         .dijitSelectLabel {
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: left;
            height: 1.2em;
         }

         > table {
            background-color: @primary-background-color;
            border-radius: 3px;
            tr, td {
               background: transparent;
            }
            td {
               border: none;
               padding: 1px 3px;
               &.dijitArrowButton {
                  padding-right: 3px;
                  > input {
                     border: none;
                  }
               }
            }
         }
      }
   }
}

.dijitMenuPopup {
   margin-top: 3px;
}

.claro {
   .dijitMenuPopup .dijitMenu .dijitMenuItem td.dijitMenuItemLabel {
      padding: 5px;
   }
   .dijitMenu .dijitSelectSelectedOption * {
      font-family: @bold-font;
   }
}

.dijitSelectMenu {
   tbody {
      max-width: inherit;
      .dijitMenuItem {
         max-width: inherit;
         white-space: normal;
         .dijitMenuItemLabel {
            max-width: inherit;
            overflow: hidden;
            text-overflow: ellipsis;
         }
      }
   }
   &.truncate {
      tbody {
         .dijitMenuItem {
            white-space: nowrap;
         }
      }
   }
}
