.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-upload-new-version-icon {
   background: url("./images/actions/document-upload-new-version-16.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}