.alfresco-lists-views-layout-_MultiItemRendererMixin__item {
   &:hover {
      .alfresco-renderers-Actions {
         &.hover-only {
            >.alfresco-buttons-AlfButton {
               visibility: visible;
            }
         }
      }
   }
   .alfresco-renderers-Actions {
      &.hover-only {
         &.dijitHasDropDownOpen {
            >.alfresco-buttons-AlfButton {
               visibility: visible;
            }
         }

         > .alfresco-buttons-AlfButton {
            visibility: hidden;
         }
      }
   }
}

.alfresco-renderers-Actions {
   &__label {
      cursor: pointer;
   }
}