.alfresco-renderers-EditableComment {
   form {
      > .alfresco-forms-controls-BaseFormControl {
         > .title-row {
            display: none;
         }
      }
   }
}

.alfresco-renderers-EditableComment.read > .edit {
   display: none;
}

.alfresco-renderers-EditableComment.edit > .read {
   display: none;
}