.alfresco-renderers-Thumbnail {
   &.gallery {
      cursor: pointer;
      .displayName, .selectBar {
         background-color: black;
         color: #fff;
         opacity: .5;
         padding: 10px 10px;
         position: absolute;
         text-shadow: 1px 1px #333;
         width: 100%;
         z-index: 1;
      }
      .displayName {
         bottom: 0;
         box-sizing: border-box;
         &__content {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
         }
      }
      .selectBar {
         top: 0;
         box-sizing: border-box;
      }
      .alfresco-renderers-Selector {
         background-image: url(./images/NoneSelectedWhite.png);

         &.alfresco-lists-ItemSelectionMixin--selected {
            background-image: url(./images/AllSelectedWhite.png);
         }
      }
      &:hover .selectBar {
         display: block;
      }
   }
}
