.alfresco-renderers-InlineEditProperty {
   &:hover .editIcon {
      opacity: 1;
   }
   &.alfresco-renderers-Property {
      .alfresco-renderers-Property.block {
         display: inline-block;
      }
   }
   .inlineEditValue {
      cursor: pointer;
      line-height: 20px;
      &.hidden ~ .editIcon {
         display: none;
      }
      &:focus ~ .editIcon {
         opacity: 1;
      }
   }
   .alfresco-renderers-Property {
      margin-left: 0;
   }
   .alfresco-renderers-Property.block {
      display: inline-block;
   }
   .editIcon {
      cursor: pointer;
      display: inline-block;
      height: 16px;
      line-height: 20px;
      opacity: 0;
      transition: opacity .2s ease-out;
      width: 16px;
   }
   .action {
      color: @general-font-color;
      cursor: pointer;
      display: inline-block;
      font-family: @standard-font;
      font-size: @normal-font-size;
      height: 85%;
      vertical-align: middle;
      &.disabled {
         color: @de-emphasized-font-color;
         cursor: default;
      }
   }
   > .editor {
      display: inline-block;
      height: 40px;
      > .alfresco-forms-Form {
         display: inline-block;
         vertical-align: bottom;
      }
   }
}
