.alfresco-renderers-MoreInfo {
   margin-right: 20px;
   background-image: url(./images/show-detail.png);
   width: 16px;
   height: 16px;
   display: inline-block;
}

.alfresco-renderers-MoreInfo.darkIcon {
   background-image: url(./images/info-16.png);
}

.alfresco-dialog-AlfDialog .alfresco-renderers-Thumbnail img {
   max-width: 330px;
   max-height: 240px;
}
