.alfresco-renderers-MoreInfo {
   background-image: url(./images/show-detail.png);
   width: 16px;
   height: 16px;
   display: inline-block;
   cursor: pointer;
}

.alfresco-renderers-MoreInfo.darkIcon {
   background-image: url(./images/info-16.png);
}

.alfresco-lists-views-layouts-Row:focus {
   outline: none;
}
