.alfresco-renderers-PropertyLink > span.inner {
   cursor: pointer;
   text-decoration: @link-text-decoration;
   color: @link-font-color;
   &:hover {
      color: @link-font-color-hover;
      text-decoration: @link-text-decoration-hover;
   }
}