/* Make room for the indicators */
.alfresco-renderers-PublishingDropDownMenu {
   .alfresco-forms-controls-BaseFormControl {
      margin-right: 20px;
   }
   .indicator {
      float: right;
      height: 16px;
      width: 16px;
      &.processing {
         background-image: url("./images/ajax_anim.gif");
         cursor: pointer;
         &:focus, &:hover {
            background-image: url("./images/cancel-16.png");
         }
      }
      &.warning {
         background-image: url("./images/warning-16.png");
      }
      &.success {
         background-image: url("./images/job-success-16.png");
      }
   }
   &.no-title .alfresco-forms-controls-BaseFormControl div.title-row {
      display: none;
   }
}
