<tr class="alfresco-documentlibrary-views-AlfDetailedViewItem" data-dojo-attach-point="containerNode" data-dojo-attach-event="onclick:onFocusClick" tabindex="0">
   <td class="selector-column"><div data-dojo-attach-point="selector"></div></td>
   <td class="indicators-column"><div data-dojo-attach-point="indicators"></div></td>
   <td class="thumbnail-column"><div data-dojo-attach-point="thumbnail"></div></td>
   <td class="details-column">
      <table class="item-details" cellpadding="0">
         <tr>
            <td><div data-dojo-attach-point="lockedBanner"></div></td>
         </tr>
         <tr>
            <td>
               <div data-dojo-attach-point="name"></div>
               <div data-dojo-attach-point="title"></div>
               <div data-dojo-attach-point="version"></div>
            </td>
         </tr>
         <tr>
            <td>
               <div data-dojo-attach-point="date"></div>
               <div data-dojo-attach-point="size"></div>
            </td>
         </tr>
         <tr>
            <td><div data-dojo-attach-point="description"></div></td>
         </tr>
         <tr>
            <td><div data-dojo-attach-point="tags"></div></td>
         </tr>
         <tr>
            <td><div data-dojo-attach-point="category"></div></td>
         </tr>
         <tr>
            <td class="item-details--separated item-details--non-working-copy">
               <div data-dojo-attach-point="favourite"></div>
               <div data-dojo-attach-point="like"></div>
               <div data-dojo-attach-point="comments"></div>
               <div data-dojo-attach-point="quickShare"></div>
            </td>
         </tr>
         <tr>
            <td><div data-dojo-attach-point="commentsReveal"></div></td>
         </tr>
      </table>
   </td>
   <td class="actions-column"><div data-dojo-attach-point="actions"></div></td>
</tr>