.alfresco-testing-SubscriptionLog table {
   border: 1px solid #808080;
   border-collapse: collapse;
   width: 100%;
}

.alfresco-testing-SubscriptionLog tr {
   border: none;
   border-collapse: collapse;
}

.alfresco-testing-SubscriptionLog tr.sl-row:nth-child(odd),
.alfresco-testing-SubscriptionLog tr.sl-object-row:nth-child(odd) {
   background-color: #eee;
}

.alfresco-testing-SubscriptionLog tr.sl-row:nth-child(even),
.alfresco-testing-SubscriptionLog tr.sl-object-row:nth-child(even)  {
   background-color: #fff;
}

.alfresco-testing-SubscriptionLog th,
.alfresco-testing-SubscriptionLog td {
   border: 1px solid #808080;
   border-collapse: collapse;
   padding: 4px;
}

.alfresco-testing-SubscriptionLog td>table {
   border: none;
}