<div class="${baseClass} ${subClass} dashlet">
   <div data-dojo-attach-point="titleNode" class="${baseClass}__title title">
      ${label.title}
   </div>
   <div data-dojo-attach-point="toolbarNode" class="${baseClass}__toolbar toolbar"></div>
   <div data-dojo-attach-point="titleBarActionsNode" class="${baseClass}__title-bar-actions titleBarActions"></div>
   <div data-dojo-attach-point="toolbar2Node" class="${baseClass}__toolbar2 toolbar"></div>
   <div data-dojo-attach-point="bodyNode" class="${baseClass}__body body">
      <div class="${baseClass}__resize-bar ui-resizable-handle ui-resizable-s" data-dojo-attach-point="resizeNode">
         <div class="${baseClass}__resize-bar__icon">
      </div>
   </div>
</div>