<div class="${baseClass}">
   <table class="${baseClass}__items">
      <thead>
         <tr class="${baseClass}__item-heading">
            <td class="${baseClass}__item__name">&nbsp;</td>
            <td class="${baseClass}__item__progress">&nbsp;</td>
            <td class="${baseClass}__item__status">&nbsp;</td>
            <td class="${baseClass}__item__actions">&nbsp;</td>
         </tr>
      </thead>
      <tbody data-dojo-attach-point="inProgressItemsNode" class="${baseClass}__inprogress-items"></tbody>
      <tbody data-dojo-attach-point="unsuccessfulItemsNode" class="${baseClass}__unsuccessful-items"></tbody>
      <tbody data-dojo-attach-point="successfulItemsNode" class="${baseClass}__successful-items"></tbody>
   </table>
</div>