.alfresco-node-Metadata {

   > span {
      display: inline-block;
      vertical-align: top;
      line-height: ceil(@normal-font-size/@standard-line-height) * @standard-line-height;
   }

   .alfresco-node-Metadata__label {
      width: 120px;
      color: @de-emphasized-font-color;
   }

   .alfresco-node-Metadata__value {
      width: 180px;
   }

   /* Ensure that there is some nice white-space after the last entry */
   &:last-child {
      margin-bottom: 15px;
   }
}