# Default line-endings for repo
* text eol=lf

# Binary files (do not alter line-endings)
*.bcmap binary
*.gif binary
*.jpg binary
*.mp3 binary
*.mp4 binary
*.pdf binary
*.png binary
*.PNG binary
*.woff binary
*.woff2 binary
