.alfresco-layout-AlfSideBarContainer {

   .alfresco-layout-AlfSideBarContainer__container {
      overflow: hidden;

      .alfresco-layout-AlfSideBarContainer__sidebar,
      .alfresco-layout-AlfSideBarContainer__main {
         overflow: hidden;
         float: none;
         display: inline-block;
         vertical-align: top;
         background: none;
         border: none;
      }

      .alfresco-layout-AlfSideBarContainer__sidebar {
         color: @general-font-color;
         border: none;
         padding-right: 10px;

         /* Default display for all children in the sidebar when it's open */
         > *:nth-child(n+2) {
            display: inherit;
         }

         /* Convert the YUI resize handle to be transparent and slightly wider
            to accommodate our custom image for popping the sidebar in and out */
         .alfresco-layout-AlfSideBarContainer__resizeHandle {
            background-color: #ffffff;
            width: 9px;
            right: 0;
            border-right: @standard-border;
            border-left: @standard-border;

            /* Override the default drag handle image */
            .alfresco-layout-AlfSideBarContainer__resizeButton {
               background-position: 0 6px;
               background-color: transparent;
               background-repeat: no-repeat;
               border: @standard-border;
               border-left: none;
               border-right: none;
               width: 8px;
               height: 21px;
               cursor: pointer;
               position: fixed;
               top: 50%;
               z-index: 500;
               background-image: url("./images/PopInArrow.png");
            }
         }

         /* Overrides JQuery default behaviour to hide the handle when disabled, but this would
            make our pop-out control hidden as well which we don't want */
         &.ui-resizable-disabled {
            .alfresco-layout-AlfSideBarContainer__resizeHandle {
               display: inherit;
            }
         }

         /* Ensure that the resize handle gets some colour when being used */ 
         .resize-handle.active{
            background-color: #dfdfdf;
         }
      }

      .alfresco-layout-AlfSideBarContainer__sidebar--closed {
         padding-right: 0;

         /* Hide all children EXCEPT the resize handle when the sidebar is closed */
         > *:nth-child(n+2) {
            display: none;
         }

         /* This selector should be applied when the sidebar is hidden */
         .alfresco-layout-AlfSideBarContainer__resizeButton {
            background-image: url("./images/PopOutArrow.png");
         }
      }
   }
}
