.alfresco-layout-AlfSideBarContainer {
   &__container {
      background-color: @sidebar-container-main-background-color;
      overflow: hidden;
   }
   &__sidebar, &__main {
      background: none;
      border: none;
      display: inline-block;
      float: none;
      overflow: hidden;
      vertical-align: top;
      &__widgets {
         position: relative;
         overflow: hidden;
      }
   }
   &__sidebar {
      background-color: @sidebar-container-sidebar-background-color;
      border: none;
      color: @general-font-color;
      padding-right: 10px;
      &.ui-resizable-disabled {
         .alfresco-layout-AlfSideBarContainer__resize-handle {
            display: inherit;
         }
      }
      .resize-handle.active {
         background-color: @sidebar-container-resize-handle-background-color-active;
      }
      &--closed {
         padding-right: 0;
         > *:nth-child(n+2) {
            display: none;
         }
         .alfresco-layout-AlfSideBarContainer__resize-button {
            background-image: url("./images/PopOutArrow.png");
         }
      }
   }
   &__resize-handle {
      background-color: @sidebar-container-resize-handle-background-color;
      border-left: @sidebar-container-borders;
      border-right: @sidebar-container-borders;
      right: 0;
      width: 9px;
   }
   &__resize-button {
      background-color: transparent;
      background-image: url("./images/PopInArrow.png");
      background-position: 0 6px;
      background-repeat: no-repeat;
      border: @sidebar-container-borders;
      border-left: none;
      border-right: none;
      cursor: pointer;
      height: 21px;
      position: fixed;
      top: 50%;
      width: 8px;
      z-index: 500;
   }
   &--resize-disabled {
      .alfresco-layout-AlfSideBarContainer {
         &__sidebar {
            border-right: @sidebar-container-borders;
            padding-right: 0;
         }
         &__resize-handle {
            display: none;
         }
      }
   }
}
