.alfresco-layout-AlfTabContainer {
   height: 100%;
   width: 100%;

   .dijitTabContainerTop-tabs {
      .dijitTab {
         margin: 0 0 0 0.16em;
         border: @tab-border;
         border-bottom-width: 0;
         border-radius: @tab-border-radius;
         background: @tab-background;
         min-width: 22px;
      }

      .dijitTab.dijitChecked {
         background-color: @tab-color-active;
         padding-top: 3px;
      }

      .dijitTab.dijitDisabled {
         opacity: @tab-opacity-disabled;
      }
   }

   .alfresco-layout-AlfTabContainer__OuterTab {
      padding: 0;
   }

   &--padded {
      .dijitTabContainerTopChildWrapper {
         padding: @tab-padding;
      }
   }
}