.alfresco-layout-ClassicWindow {
   border: 1px solid #CCC;
   margin: 10px;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}

.alfresco-layout-ClassicWindow > div.titlebar {
   background-color: #EEEEEE;
   border-bottom: 1px solid #CCC;
   padding: 5px;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}

.alfresco-layout-ClassicWindow > div.content {
   margin: 10px 0;
   padding: 10px;
}

.alfresco-layout-ClassicWindow.shadow {
   box-shadow: @standard-box-shadow;
}

.alfresco-layout-ClassicWindow.bottomBorderRadius {
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
}