.alfresco-layout-LeftAndRight {
   width: 100%;

   .alfresco-layout-LeftAndRight__left {
      float: left;
      > * {
         float: left;
      }
   }

   .alfresco-layout-LeftAndRight__right {
      float: right;
      > * {
         float: right;
      }
   }
}