.alfresco-layout-StickyPanel {
   bottom: 0;
   display: block;
   left: 0;
   pointer-events: none;
   position: fixed;
   right: 0;
   &__panel {
      background: @sticky-panel-background;
      border: @sticky-panel-border;
      border-bottom: 0;
      border-radius: @sticky-panel-border-radius;
      box-shadow: @sticky-panel-box-shadow;
      box-sizing: border-box;
      margin: 0 auto;
      pointer-events: all;
      position: relative;
   }
   &__title-bar {
      background: @sticky-panel-title-background;
      color: @sticky-panel-title-foreground;
      line-height: @sticky-panel-title-line-height;
      padding: @sticky-panel-title-padding;
      position: relative;
      &__title {
         font-size: @sticky-panel-title-font-size;
         text-align: center;
      }
      &__close, &__restore, &__minimise {
         cursor: pointer;
         display: block;
         font-size: @sticky-panel-buttons-font-size;
         position: absolute;
      }
      &__close {
         right: @sticky-panel-button-close-right;
         top: @sticky-panel-button-close-top;
      }
      &__restore {
         display: none;
         right: @sticky-panel-button-restore-right;
         top: @sticky-panel-button-restore-top;
      }
      &__minimise {
         right: @sticky-panel-button-minimise-right;
         top: @sticky-panel-button-minimise-top;
      }
   }
   &__widgets {
      max-height: @sticky-panel-max-height;
      overflow-x: hidden;
      overflow-y: auto;
   }
   &--minimised {
      .alfresco-layout-StickyPanel {
         &__panel {
            opacity: @sticky-panel-minimised-opacity;
         }
         &__title-bar {
            &__restore {
               display: block;
            }
            &__minimise {
               display: none;
            }
         }
         &__widgets {
            display: none;
         }
      }
   }
   &--close-disabled {
      .alfresco-layout-StickyPanel {
         &__title-bar {
            &__close {
               cursor: default;
               opacity: .3;
            }
         }
      }
   }
}
