<div class="alfresco-footer-AlfShareFooter" data-dojo-attach-point="footerParentNode">
   <span class="copyright" data-dojo-attach-point="footerContainerNode">
      <a href="#" onclick="Alfresco.module.getAboutShareInstance().show(); return false;">
         <img src="${logoImageSrc}" alt="${altText}" border="0"/>
      </a>
      <span class="licenseHolder" data-dojo-attach-point="licenseHolderNode">${licensedToLabel} ${licenseLabel}<br></span>
      <span>${copyrightLabel}</span>
   </span>
</div>