.alfresco-forms-ControlRow {
   margin-bottom: @standard-line-height;

   > div {
      &.title {
         font-family: @bold-font;
         font-size: @large-font-size;
         margin-bottom: @standard-line-height/2;
         &.border {
            border-bottom: @standard-border;
            margin-bottom: @standard-line-height;
         }
      }
      &.description {
         border-bottom: @standard-border;
         color: @de-emphasized-font-color;
         font-family: @standard-font;
         font-size: @normal-font-size;
         margin-bottom: @standard-line-height;
      }
   }
}
