.alfresco-forms-Form {
   .alfresco-header-Warning {
      margin-bottom: @standard-line-height;
   }

   .alfresco-forms-Form__warnings--hidden {
      display: none;
   }

   &--single-line {
      >div {
         display: inline-block;
      }
      >form {
         display: inline-block;
      }
   }
}