.alfresco-charts-ccc-Chart--color1 {
   background-color: @chartItemColour1;
}

.alfresco-charts-ccc-Chart--color2 {
   background-color: @chartItemColour2;
}

.alfresco-charts-ccc-Chart--color3 {
   background-color: @chartItemColour3;
}

.alfresco-charts-ccc-Chart--color4 {
   background-color: @chartItemColour4;
}

.alfresco-charts-ccc-Chart--color5 {
   background-color: @chartItemColour5;
}

.alfresco-charts-ccc-Chart--color6 {
   background-color: @chartItemColour6;
}

.alfresco-charts-ccc-Chart--color7 {
   background-color: @chartItemColour7;
}

.alfresco-charts-ccc-Chart--color8 {
   background-color: @chartItemColour8;
}

.alfresco-charts-ccc-Chart--color9 {
   background-color: @chartItemColour9;
}

.alfresco-charts-ccc-Chart--color10 {
   background-color: @chartItemColour10;
}

.alfresco-charts-ccc-Chart--color11 {
   background-color: @chartItemColour11;
}

.alfresco-charts-ccc-Chart--color12 {
   background-color: @chartItemColour12;
}

.alfresco-charts-ccc-Chart--color13 {
   background-color: @chartItemColour13;
}

.alfresco-charts-ccc-Chart--color14 {
   background-color: @chartItemColour14;
}

.alfresco-charts-ccc-Chart--color15 {
   background-color: @chartItemColour15;
}

.alfresco-charts-ccc-Chart--color16 {
   background-color: @chartItemColour16;
}

.alfresco-charts-ccc-Chart--color17 {
   background-color: @chartItemColour17;
}

.alfresco-charts-ccc-Chart--color18 {
   background-color: @chartItemColour18;
}

.alfresco-charts-ccc-Chart--color19 {
   background-color: @chartItemColour19;
}

.alfresco-charts-ccc-Chart--color20 {
   background-color: @chartItemColour20;
}

.alfresco-charts-ccc-Chart--color21 {
   background-color: @chartItemColour21;
}