<div class="alf-livesearch" data-dojo-attach-point="containerNode">
   <div class="alf-livesearch-title" data-dojo-attach-point="titleNodeDocs">${label.documents}</div>
   <div class="alf-livesearch-list" data-dojo-attach-point="containerNodeDocs"></div>
   <div class="alf-livesearch-more" data-dojo-attach-point="nodeDocsMore">
      <a href="#" data-dojo-attach-event="onclick:onSearchDocsMoreClick" title="${label.more}">
         <span>${label.more}</span>
      </a>
   </div>
   <div class="alf-livesearch-title" data-dojo-attach-point="titleNodeSites">${label.sites}</div>
   <div class="alf-livesearch-list" data-dojo-attach-point="containerNodeSites"></div>
   <div class="alf-livesearch-title" data-dojo-attach-point="titleNodePeople">${label.people}</div>
   <div class="alf-livesearch-list" data-dojo-attach-point="containerNodePeople"></div>
</div>