<div>
   <div class="${cssClass}"><a data-dojo-attach-event="onclick:onResultClick" data-dojo-attach-point="previewLinkNode" href="${link}" tabindex="0"><img src="${icon}" width="48" border="0" data-dojo-attach-point="previewImgNode"></a></div>
   <div class="alf-livesearch-item">
      <a class="alf-livesearch-item__name" data-dojo-attach-event="onclick:onResultClick" data-dojo-attach-point="linkNode" href="${link}" tabindex="0"></a><br>
      <span data-dojo-attach-event="onclick:onMetaClick">${!meta}</span>
      <br>
      <span data-dojo-attach-event="onclick:onMetaClick">${!meta2}</span>
   </div>
</div>