<div class="alf-search-box">
   <div class="alf-search-box-inner">
      <div class="alf-search-box-menu" data-dojo-attach-point="_searchMenuNode"></div>
      <input type="text" class="alf-search-box-text" data-dojo-attach-point="_searchTextNode" style="width:${_width}px"></input>
      <div class="alf-search-box-clear">
         <a href="#" data-dojo-attach-event="onclick:onSearchClearClick" title="${label.clear}" tabindex="1">
            <div>&nbsp;</div>
         </a>
      </div>
   </div>
   <div data-dojo-attach-point="_searchLiveNode"></div>
</div>