<div class="alfresco-header-SearchBox" style="width:${_outerWidth}px">
   <div class="alfresco-header-SearchBox-inner">
      <div class="alfresco-header-SearchBox-menu" data-dojo-attach-point="_searchMenuNode"></div>
      <input type="text" class="alfresco-header-SearchBox-text" data-dojo-attach-point="_searchTextNode" style="width:${width}px"></input>
      <div class="alfresco-header-SearchBox-clear">
         <a href="#" data-dojo-attach-event="onclick:onSearchClearClick" title="${label.clear}" tabindex="1">
            <div>&nbsp;</div>
         </a>
      </div>
   </div>
   <div data-dojo-attach-point="_searchLiveNode"></div>
</div>