.alfresco-share .alfresco-navigation-Link {
   color: @link-font-color;
   text-decoration: @link-text-decoration;
   cursor: pointer;
}

.alfresco-share .alfresco-navigation-Link:hover {
   text-decoration: @link-text-decoration-hover;
}