<div class="${rootClass}" data-dojo-attach-event="click:_onWidgetClick">

   <!-- Title -->
   <h3 class="${rootClass}__header">Subscription Log</h3>

   <!-- Clear-log buton -->
   <button class="${rootClass}__clear-button" data-dojo-attach-event="click:_onClearButtonClick">Clear</button>

   <!-- Enable/disable publication/subscription display -->
   <input type="checkbox" id="display-publications" class="${rootClass}__checkbox ${rootClass}__checkbox-publications" checked="checked" />
   <label for="display-publications" class="${rootClass}__label ${rootClass}__label-publications">Publications</label>
   <input type="checkbox" id="display-subscriptions" class="${rootClass}__checkbox ${rootClass}__checkbox-subscriptions" checked="checked" />
   <label for="display-subscriptions" class="${rootClass}__label ${rootClass}__label-subscriptions">Subscriptions</label>

   <!-- Filter to only show specific topics -->
   <input type="text" class="${rootClass}__filter ${rootClass}__filter__include" data-dojo-attach-point="includeFilter" data-dojo-attach-event="keyup:_applyFilters" placeholder="Include only..." value="" />
   <input type="text" class="${rootClass}__filter ${rootClass}__filter__exclude" data-dojo-attach-point="excludeFilter" data-dojo-attach-event="keyup:_applyFilters" placeholder="Exclude..." value="" />

   <!-- Filter on payload -->
   <input type="checkbox" checked="checked" id="include-payload" data-dojo-attach-point="includePayload" class="${rootClass}__checkbox ${rootClass}__checkbox-include-payload" data-dojo-attach-event="change:_applyFilters" />
   <label for="include-payload" class="${rootClass}__label ${rootClass}__label-include-payload">Include payload</label>

   <!-- Filters are regexs -->
   <input type="checkbox" id="filter-uses-regex" data-dojo-attach-point="filterUsesRegex" class="${rootClass}__checkbox ${rootClass}__checkbox-filter-uses-regex" data-dojo-attach-event="change:_applyFilters" />
   <label for="filter-uses-regex" class="${rootClass}__label ${rootClass}__label-filter-uses-regex">Use regex</label>

   <!-- Clear filters -->
   <button class="${rootClass}__filter-button" data-dojo-attach-event="click:_clearFilters">Clear</button>

   <!-- The log! -->
   <ul class="${rootClass}__log" data-dojo-attach-point="logNode"></ul>

</div>