/* Overrides the AlfDocumentListView styling for tables to remove all borders */
.alfresco-documentlibrary-views-AlfDocumentListView {
   > table {
      border-bottom: none;
      > tbody > tr > td {
         border-bottom: none;
         border-right: none;
         border-top: none;
      }
   }
}
