.alfresco-search-AlfSearchResult {
   table {
      border-collapse: collapse;
      border-spacing: 0;
   }

   .selectorCell {
      width: 20px;
      padding-left: 5px;
   }

   .thumbnailCell {
      width: 100px;
   }

   .actionsCell {
      width: 100px;
   }

   td.dateCell {
      .alfresco-renderers-Property {
         color: @de-emphasized-font-color;
      }
   }

   div.dateCell {
      color: @de-emphasized-font-color;
   }

   .contentCell {
      margin-top: @standard-line-height;
      font-style: italic;
   }

   tr.spacing-row {
      height: @standard-line-height;
   }
}