.alfresco-search-FacetFilter {

   overflow: hidden;
   line-height: ceil(@small-font-size/@standard-line-height) * @standard-line-height;
   font-size: @small-font-size;
   list-style-type: none;
   padding-bottom: @standard-line-height - 4;
   margin-left: -2px;

   .status {
      display: inline-block;
      width: @standard-column-width + @standard-column-spacing - 4;
      float: left;

      .remove {
         cursor: pointer;

         &.hidden {
            display: none;
         }
      }
   }

   .details {
      display: block;
      margin-left: @standard-column-width + @standard-column-spacing - 4;
      word-break: break-all;

      .filterLabel {
         cursor: pointer;

         &.applied {
            .emphasized-font;
         }
      }

      .hits {
         .de-emphasized-font;
         margin-left: @standard-column-spacing;
      }
   }

   &:last-child {
     margin-bottom: 0;
   }

   &--full-width-click {
      .details {
         cursor: pointer;

         &:hover {
            background-color: @filter-hover-color;
         }
      }
   }

   &--full-width-click {
      .details {
         cursor: pointer;

         &:hover {
            background-color: @filter-hover-color;
         }
      }
   }

   /* See AKU-782 - If a search request is in-flight we want to prevent further facet filtering
                    the JS in the widget prevents additional requests from being made but these
                    selectors ensure it doesn't appear to the user as though they can further filter */
   &--block-requests {
      cursor: default;

      .status {
         .remove {
            cursor: default;
         }
      }

      .details {
         cursor: default;

         &:hover {
            background-color: inherit;
         }

         .filterLabel {
            cursor: default;
         }
      }
   }
}
