.alfresco-search-FacetFilter {
   overflow: hidden;
   line-height: ceil(@small-font-size/@standard-line-height) * @standard-line-height;
   font-size: @small-font-size;
   list-style-type: none;
   padding-bottom: @standard-line-height - 4;
   margin-left: -2px;

   .status {
      display: inline-block;
      width: @standard-column-width + @standard-column-spacing - 4;
      float: left;

      .remove {
         cursor: pointer;

         &.hidden {
            display: none;
         }
      }
   }

   .details {
      display: block;
      margin-left: @standard-column-width + @standard-column-spacing - 4;
      word-break: break-all;

      .filterLabel {
         cursor: pointer;

         &.applied {
            .emphasized-font;
         }
      }

      .hits {
         .de-emphasized-font;
         margin-left: @standard-column-spacing;
      }
   }

   &:last-child {
     margin-bottom: 0;
   }

   &--full-width-click {
      .details {
         cursor: pointer;

         &:hover {
            background-color: @filter-hover-color;
         }
      }
   }
}
