/* Centering technique from http://www.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css */
.alfresco-notifications-AlfNotification {
   height: 0;
   left: 0;
   position: fixed;
   right: 0;
   top: 0;
   z-index: 9999; /* This isn't ideal, but searching all z-indexes is even worse (better solution possible?) */
   &__container {
      background: @notification-background;
      border-radius: @notification-border-radius;
      box-shadow: @standard-box-shadow;
      box-sizing: border-box;
      margin: 0 auto;
      opacity: 0;
      padding: 20px 30px 20px 20px;
      position: relative;
      top: 22.5vh;
      transition: all .2s ease-out;
      width: @notification-width;
   }
   &__close {
      color: @notification-foreground-dimmed;
      cursor: pointer;
      font-size: 25px;
      position: absolute;
      right: 10px;
      top: 0;
      transition: all .1s ease-out;
      &:hover {
         color: @notification-foreground;
      }
   }
   &__message {
      color: @notification-foreground;
      font-family: @standard-font;
      font-size: @normal-font-size;
      line-height: ceil(@normal-font-size/@standard-line-height) * @standard-line-height;
   }
   &--visible {
      .alfresco-notifications-AlfNotification {
         &__container {
            opacity: 1;
            top: 20vh;
         }
      }
   }
}
