<div class="aikau-layout-Alfresco mdl-layout__container">
   <div class="mdl-layout mdl-js-layout">
      <header class="mdl-layout__header ">
         <div class="mdl-layout__header-row" data-dojo-attach-point="headerNode">
            <div class="mdl-layout-spacer" data-dojo-attach-point="spacerNode">
         </div>
      </header>
      <div class="mdl-layout mdl-layout--fixed-drawer">
         <div class="mdl-layout__drawer" data-dojo-attach-point="drawerNode"></div>
         <main class="mdl-layout__content">
            <div class="page-content" data-dojo-attach-point="contentNode">
               <div class="aikau-layout_Alfresco__toolbar mdl-layout__header-row" data-dojo-attach-point="toolbarNode">
                  <div class="mdl-layout-spacer" data-dojo-attach-point="toolbarSpacerNode">
               </div>
            </div>
         </main>
      </div>
   </div>
   <div class="aikau-layout-Alfresco__fixed-search" data-dojo-attach-point="fixedSearchNode"></div>
</div>