.alfresco-upload-UploadMonitor {
   overflow: hidden;
   &__items {
      border-spacing: 0;
      position: relative;
      table-layout: fixed;
      top: -1px;
      width: 100%;
      td {
         padding: 0;
      }
   }
   &__item-heading {
      font-size: 0;
   }
   &__item {
      line-height: 28px;
      > * {
         border-top: 1px solid #ccc;
         vertical-align: top;
      }
      &__name__error {
         color: #c00;
         display: none;
         line-height: 18px;
         position: relative;
         top: -7px;
      }
      &__progress {
         width: 50px;
      }
      &__status {
         width: 150px;
         &__in-progress, &__successful, &__unsuccessful {
            display: none;
         }
         &__in-progress {
            color: #ccc;
         }
         &__successful {
            color: #090;
         }
         &__unsuccessful {
            color: #c00;
         }
      }
      &--has-error {
         .alfresco-upload-UploadMonitor {
            &__item__name__error {
               display: block;
            }
         }
      }
   }
   &__in-progress-items {
      .alfresco-upload-UploadMonitor {
         &__item {
            &__status__in-progress {
               display: inline;
            }
         }
      }
   }
   &__successful-items {
      .alfresco-upload-UploadMonitor {
         &__item {
            &__progress {
               &__content {
                  display: none;
               }
            }
            &__status__successful {
               display: inline;
            }
         }
      }
   }
   &__unsuccessful-items {
      .alfresco-upload-UploadMonitor {
         &__item {
            &__status__unsuccessful {
               display: inline;
            }
         }
      }
   }
}
