.alfresco-upload-UploadTarget {

   height: 253px;
   margin: 5px;
   display: table;
   vertical-align: top;

   /* Required for Firefox */
   width: ~"calc(100% - 16px)";

   &.alfresco-documentlibrary-_AlfDndDocumentUploadMixin {
      border: @thick-border-width dashed @standard-border-color;
      border-radius: @standard-border-radius;
   }

   .alfresco-upload-UploadTarget__centered {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      width: 100%;

      .alfresco-upload-UploadTarget__title {
         font-size: @large-font-size;
      }
   }
   
}