.alfresco-upload-UploadMonitor {
   box-sizing: border-box;
   overflow: hidden;
   * {
      box-sizing: inherit;
   }
   &__items {
      border-spacing: 0;
      position: relative;
      table-layout: fixed;
      top: -1px;
      width: 100%;
      td {
         padding: 0;
      }
   }
   &__item-heading {
      font-size: 0;
   }
   &__item {
      line-height: @upload-monitor-item-line-height;
      > * {
         border-top: @upload-monitor-item-separator-border;
         vertical-align: top;
         &:first-child {
            padding-left: @upload-monitor-item-padding-left;
         }
         &:last-child {
            padding-right: @upload-monitor-item-padding-right;
         }
      }
      &__name__error {
         color: @upload-monitor-error-message-color;
         display: none;
         line-height: @upload-monitor-error-message-line-height;
         position: relative;
         top: @upload-monitor-error-message-top;
      }
      &__progress {
         width: @upload-monitor-progress-column-width;
      }
      &__status {
         width: @upload-monitor-status-column-width;
         &__in-progress, &__successful, &__unsuccessful {
            display: none;
         }
         &__in-progress {
            color: @upload-monitor-status-color-in-progress;
         }
         &__successful {
            color: @upload-monitor-status-color-successful;
         }
         &__unsuccessful {
            color: @upload-monitor-status-color-unsuccessful;
         }
      }
      &--has-error {
         .alfresco-upload-UploadMonitor {
            &__item__name__error {
               display: block;
            }
         }
      }
   }
   &__in-progress-items {
      .alfresco-upload-UploadMonitor {
         &__item {
            &__status__in-progress {
               display: inline;
            }
         }
      }
   }
   &__successful-items {
      .alfresco-upload-UploadMonitor {
         &__item {
            &__progress {
               &__content {
                  display: none;
               }
            }
            &__status__successful {
               display: inline;
            }
         }
      }
   }
   &__unsuccessful-items {
      .alfresco-upload-UploadMonitor {
         &__item {
            &__status__unsuccessful {
               display: inline;
            }
         }
      }
   }
}
