.alfresco-lists-AlfList {
   overflow: auto;

   > .rendered-view {
      position: relative;
      &::before, &::after {
         box-sizing: border-box;
         opacity: 0;
         position: absolute;
      }
      &::before {
         background: @list-loading-overlay-background;
         content: "";
         height: 0;
         width: 100%;
         transition: @list-loading-overlay-transition;
      }
      &::after {
         background: @list-loading-message-background;
         border: @list-loading-message-border;
         border-radius: @list-loading-message-border-radius;
         content: attr(data-aikau-loading-message);
         left: @list-loading-message-left;
         line-height: @list-loading-message-line-height;
         padding: @list-loading-message-padding;
         top: -100%;
         transition: @list-loading-message-transition;
      }
   }
   > * {
      margin: @standard-line-height @standard-column-width;
   }
   > .alfresco-lists-AlfList__views {
      margin: 0;
   }
   tr {
      &:focus {
         outline: none;
      }
   }
   &--loading, &--rendering {
      > .rendered-view {

         min-height: 200px;
         display: block;

         &::before, &::after {
            opacity: 1;
         }
         &::before {
            height: 100%;
         }
         &::after {
            top: @list-loading-message-top;
         }
      }
   }
   &--rendering {
      > .rendered-view {
         &::after {
            content: attr(data-aikau-rendering-message);
            left: @list-rendering-message-left;
         }
      }
   }
}
