.alfresco-lists-AlfList {
   min-width: 100px;
   min-height: 100px;
   > * {
      margin: @standard-line-height @standard-column-width;
   }
   tr {
      &:focus {
         outline: none;
      }
   }
}
