<div class="alfresco-layout-AlfSideBarContainer" data-dojo-attach-point="containerNode">
   <div class="alfresco-layout-AlfSideBarContainer__container">
      <div class="alfresco-layout-AlfSideBarContainer__sidebar ui-widget-content" data-dojo-attach-point="sidebarNode">
         <div class="alfresco-layout-AlfSideBarContainer__resize-handle resize-handle ui-resizable-handle ui-resizable-e" data-dojo-attach-point="resizeHandlerNode">
            <div class="alfresco-layout-AlfSideBarContainer__resize-button resize-handle-button" data-dojo-attach-point="resizeHandlerButtonNode"></div>
         </div>
         <div class="alfresco-layout-AlfSideBarContainer__sidebar__widgets" data-dojo-attach-point="sidebarWidgets"></div>
      </div>
      <div class="alfresco-layout-AlfSideBarContainer__main" data-dojo-attach-point="mainNode">
         <div class="alfresco-layout-AlfSideBarContainer__main__widgets" data-dojo-attach-point="mainWidgets"></div>
      </div>
   </div>
</div>