<div class="alfresco-layout-AlfSideBarContainer" data-dojo-attach-point="containerNode">
   <div class="container">
      <div class="sidebar ui-widget-content" data-dojo-attach-point="sidebarNode">
         <div class="resize-handle ui-resizable-handle ui-resizable-e" data-dojo-attach-point="resizeHandlerNode">
            <div class="resize-handle-button" data-dojo-attach-point="resizeHandlerButtonNode"></div>
         </div>
      </div>
      <div class="main" data-dojo-attach-point="mainNode"></div>
   </div>
</div>