<div class="${baseClass}">
   <div class="${baseClass}__panel" data-dojo-attach-point="panelNode">
      <div class="${baseClass}__title-bar">
         <div class="${baseClass}__title-bar__title" data-dojo-attach-point="titleNode"></div>
         <div class="${baseClass}__title-bar__minimise" tabindex="0" data-dojo-attach-point="minimiseButtonNode" data-dojo-attach-event="dijitClick:onClickMinimise">&ndash;</div>
         <div class="${baseClass}__title-bar__restore" tabindex="0" data-dojo-attach-point="restoreButtonNode" data-dojo-attach-event="dijitClick:onClickRestore">&ndash;</div>
         <div class="${baseClass}__title-bar__close" tabindex="0" data-dojo-attach-point="closeButtonNode" data-dojo-attach-event="dijitClick:onClickClose">&times;</div>
      </div>
      <div class="${baseClass}__widgets" data-dojo-attach-point="widgetsNode"></div>
   </div>
</div>