<div class="${baseClass}">
   <div class="${baseClass}__title-bar">
      <div class="${baseClass}__title-bar__title" data-dojo-attach-point="titleNode"></div>
      <div class="${baseClass}__title-bar__minimise" data-dojo-attach-point="minimiseButtonNode" data-dojo-attach-event="dijitClick:onClickMinimiseRestore">&ndash;</div>
      <div class="${baseClass}__title-bar__restore" data-dojo-attach-point="restoreButtonNode" data-dojo-attach-event="dijitClick:onClickMinimiseRestore">&ndash;</div>
      <div class="${baseClass}__title-bar__close" data-dojo-attach-point="closeButtonNode">&times;</div>
   </div>
   <div class="${baseClass}__widgets" data-dojo-attach-point="widgetsNode"></div>
</div>