.alfresco-preview-AlfDocumentPreview {

   .previewer {
      background-color: @preview-background-color;

      .message {
         text-align: center;
         margin: 100px 0;
      }
   }

   .notification {
      margin: 100px 0;
      text-align: center;
   }
}