.alfresco-preview-AlfDocumentPreview {

   &--displayed {
      .previewer {
         background-color: @preview-background-color;
      }
   }

   .previewer {
      
      .message {
         text-align: center;
         margin: 100px 0;
      }
   }

   .notification {
      margin: 100px 0;
      text-align: center;
   }
}