.alfresco-documentlibrary-views-layouts-AlfFilmStripView {
   position: relative;
   > div {
      /* This makes the content items overlay the main preview */
      &.items {
         bottom: 0;
         position: absolute;
         width: 100%;
         z-index: 4;
      }
      &.preview {
         .alfresco-lists-views-layouts-Carousel {
            .alfresco-layout-LeftAndRight {
               background-color: #000;
               color: #fff;
               opacity: .5;
               padding: 10px 0;
               text-shadow: 1px 1px #333;
               .alfresco-renderers-Property {
                  color: #fff;
               }
            }
         }
         .alfresco-documentlibrary-views-layouts-DocumentCarousel
         .alfresco-renderers-Thumbnail {
            display: inline-block;
            text-align: center;
            width: 100%;
         }
      }
   }
   div {
      &.preview {
         .alfresco-lists-views-layouts-Carousel .alfresco-layout-LeftAndRight .alfresco-renderers-Selector {
            background-image: url(./images/NoneSelectedWhite.png);
            
            &.alfresco-lists-ItemSelectionMixin--selected {
               background-image: url(./images/AllSelectedWhite.png);
            }
         }
      }
   }
}
