<div class="alfresco-testing-MockXhr" data-dojo-attach-point="containerNode" data-dojo-attach-event="click:_onWidgetClick">
   <table class="log">
      <caption>
         MockXhr Log
         <button id="mockXhr_toggleBody" data-dojo-attach-event="onclick:_toggleBody" class="alfresco-testing-MockXhr__toggle-body">toggle body</button>
         <button id="mockXhr_clearLog" data-dojo-attach-event="onclick:_clearLog" class="alfresco-testing-MockXhr__clear-log">clear log</button>
      </caption>
      <thead class="mx-thead">
         <tr>
            <th width="5%" class="mx-method">Method</th>
            <th width="30%" class="mx-url">URL</th>
            <th width="20%" class="mx-request-headers">Headers</th>
            <th width="30%" class="mx-request-body">Body</th>
            <th width="15%" class="mx-response">Response</th>
         </tr>
      </thead>
      <tbody class="mx-tbody" data-dojo-attach-point="logNode">
      </tbody>
   </table>
</div>