.alfresco-dnd-DragAndDropItems {
   .palette {
      margin: @dnd-palette-margin;
      padding: @dnd-palette-padding;
   }
}

.alfresco-dnd-DragAndDropItems .dojoDndItem.dojoDndItemAnchor,
.alfresco-dnd-DragAndDropItems .dojoDndItem.dojoDndItemOver {
   background-color: @primary-background-color;
   background-image: none;
   border-color: @primary-background-color;
}
