.alfresco-dnd-DragAndDropItems .palette {
   margin: 5px;
   padding: 5px;
}

.alfresco-dnd-DragAndDropItems .dojoDndItem.dojoDndItemAnchor,
.alfresco-dnd-DragAndDropItems .dojoDndItem.dojoDndItemOver {
   background-color: #fff;
   background-image: none;
   border: none;
}
