<div class="alfresco-forms-controls-BaseFormControl wipe" data-dojo-attach-point="containerNode">
   <div data-dojo-attach-point="_titleRowNode" class="title-row">
      <img class="validationInProgress hidden" src="${validationInProgressImgSrc}" alt="${validationInProgressAltText}" data-dojo-attach-point="_validationInProgressIndicator">
      <span class="validation" data-dojo-attach-point="_validationIndicator">&nbsp;</span>
      <img class="inlineHelp hidden" src="${inlineHelpImgSrc}" alt="${inlineHelpAltText}" data-dojo-attach-point="_inlineHelpIndicator" data-dojo-attach-event="ondijitclick:showInlineHelp">
      <label class="label" data-dojo-attach-point="_labelNode"></label>
      <span class="requirementIndicator" data-dojo-attach-point="_requirementIndicator">*</span>
      <span class="validation-message" data-dojo-attach-point="_validationMessage"></span>
   </div>
   <div class="control-row">
      <div class="control" data-dojo-attach-point="_controlNode"></div>
      <span class="units" data-dojo-attach-point="_unitsNode"></span>
   </div>
   <div data-dojo-attach-point="_descriptionRowNode" class="description-row">
      <div class="description" data-dojo-attach-point="_descriptionNode"></div>
   </div>
   <div class="clear-both"></div>
</div>