<div class="alfresco-forms-controls-MultipleEntryElementWrapper">
   <div class="wrapped-content" data-dojo-attach-point="containerNode"></div>
   <div class="button doneEditing clear-hide" data-dojo-attach-point="doneEditingButton" data-dojo-attach-event="ondijitclick:doneEditingElement" tabindex="0">
      <img src="${saveEntryImageSrc}" alt="${saveEntryAltText}" title="${saveEntryAltText}"/>
   </div>
   <div class="button cancelEditing clear-hide" data-dojo-attach-point="cancelEditingButton" data-dojo-attach-event="ondijitclick:cancelEditingElement" tabindex="0">
      <img src="${cancelEditImageSrc}" alt="${cancelEditAltText}" title="${cancelEditAltText}"/>
   </div>
   <div class="button delete" data-dojo-attach-point="deleteButton" data-dojo-attach-event="ondijitclick:deleteElement" tabindex="0">
      <img src="${deleteEntryImageSrc}" alt="${deleteEntryAltText}" title="${deleteEntryAltText}"/>
   </div>
   <div class="button edit" data-dojo-attach-point="editButton" data-dojo-attach-event="ondijitclick:editElement" tabindex="0">
      <img src="${editEntryImageSrc}" alt="${editEntryAltText}" title="${editEntryAltText}"/>
   </div>
   <div class="clear-both"></div>
</div>