<div class="alfresco-layout-Twister alfresco-documentlibrary-AlfDocumentFilters">
   <div class="label" data-dojo-attach-point="labelNode" data-dojo-attach-event="ondijitclick:onTwist" tabindex="0"></div>
   <ul class="filters" data-dojo-attach-point="contentNode">
      <li class="alfresco-search-FacetFilter showMore hidden" data-dojo-attach-point="showMoreNode" data-dojo-attach-event="ondijitclick:onShowMoreClick" tabindex="0">
         <span class="status"></span>
         <span class="details">${showMoreLabel}</span>
      </li>
      <li class="alfresco-search-FacetFilter showLess hidden" data-dojo-attach-point="showLessNode" data-dojo-attach-event="ondijitclick:onShowLessClick" tabindex="0">
         <span class="status"></span>
         <span class="details">${showLessLabel}</span>
      </li>
   </ul>
</div>