<div class="alfresco-documentlibrary-AlfDocumentList">
   <div data-dojo-attach-point="noViewSelectedNode" class="info share-hidden">${noViewSelectedMessage}</div>
   <div data-dojo-attach-point="noDataNode" class="info share-hidden">${noDataMessage}</div>
   <div data-dojo-attach-point="dataFailureNode" class="info share-hidden">${dataFailureMessage}</div>
   <div data-dojo-attach-point="dataLoadingNode" class="info share-hidden">${fetchingDataMessage}</div>
   <div data-dojo-attach-point="renderingViewNode" class="info share-hidden">${renderingViewMessage}</div>
   <div data-dojo-attach-point="viewsNode" class="info share-hidden"></div>
   <div data-dojo-attach-point="dataLoadingMoreNode" class="info share-hidden">${fetchingMoreDataMessage}</div>
</div>