.alfresco-lists-views-layout-_MultiItemRendererMixin--item:hover {
   background-color: #F5F5F5;
}

.alfresco-lists-views-layout-_MultiItemRendererMixin--item:focus {
   background-color: #F5F5F5;
}

.alfresco-lists-views-layout-_MultiItemRendererMixin--item.alfresco-lists-views-layouts-Row {
   /* border-top: 15px solid transparent; */
}

.alfresco-lists-views-layout-_MultiItemRendererMixin--item.selected {
   outline: 4px solid #4F94C9;
   outline-offset: -1px;
}