.alfresco-lists-views-layouts-Carousel {
   position: relative;
   .items {
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      ol {
         padding: 0;
         position: relative;
         transition: left .5s cubic-bezier(0, 1, .75, 1.01);
      }
      li {
         display: inline-block;
         margin-top: 6px;
         vertical-align: top;
      }
   }
   .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 6px;
      z-index: 1;
   }
   .prev {
      left: 10px;
   }
   .next {
      right: 10px;
   }
}
