.alfresco-lists-views-layouts-CellContainer {
   
   padding: @standard-column-spacing;
   outline: none;
   border: @standard-border;
   box-sizing: border-box;

   &__widgets {
      overflow: hidden;
   }
}