th.alfresco-lists-views-layouts-HeaderCell {
   background-color: @list-header-background-color;
   border-top: 1px solid @list-header-border-color;
   border-bottom: 1px solid @list-header-border-color;
   border-right: 1px solid @list-header-border-color;
   padding: 10px;
   margin: 0;
   vertical-align: middle;
   text-align: left;
}

th.alfresco-lists-views-layouts-HeaderCell.last,
th.alfresco-lists-views-layouts-HeaderCell:last-of-type {
   border-right: none;
}

.alfresco-lists-views-layouts-HeaderCell img {
   width: 16px;
   height: 16px;
   vertical-align: bottom;
}

.alfresco-lists-views-layouts-HeaderCell img.hidden {
   display: none;
} 

.alfresco-lists-views-layouts-HeaderCell img.ascendingSort {
   background-image: url(./images/sort-ascending-16.png);
}

.alfresco-lists-views-layouts-HeaderCell img.descendingSort {
   background-image: url(./images/sort-descending-16.png);
}

th.alfresco-lists-views-layouts-HeaderCell.hiddenAccessible {
   position: absolute;
   left: -99999px;
}