.alfresco-documentlibrary-_AlfDndDocumentUploadMixin {
   &__overlay {
      background-color: @upload-highlight-overlay-background;
      border: @upload-highlight-border;
      border-radius: 10px;
      box-sizing: border-box;
      display: none;
      opacity: @upload-highlight-overlay-opacity;
      pointer-events: none;
      position: absolute;
      &__info {
         background-image: url("./images/dnd-highlight-bg.png");
         border-radius: 10px;
         display: table-cell;
         text-align: center;
         vertical-align: middle;
         width: 100%;
         &__title {
            color: @de-emphasized-font-color;
            font-size: @large-font-size;
            line-height: 60px;
            text-align: center;
         }
         &__icon {
            text-align: center;
         }
      }
      &--display {
         display: table;
      }
   }
   &--dnd-highlight {
      opacity: @upload-highlight-opacity;
   }
}
