.dijitDialogUnderlay {
   background-color: #fff !important;
   opacity: 0.5;
}

.alfresco-dialog-AlfDialog.dijitDialog {
   border: @standard-border;
   border-radius: 4px 4px 4px 4px;
   box-shadow: 0 3px 8px rgba(0,0,0,.1);
   font-family: @standard-font;
   font-size: @normal-font-size;
   min-width: 320px;
}

.alfresco-dialog-AlfDialog.dijitDialog .dijitDialogCloseIcon {
   right: 8px;
   height: 15px;
   width: 21px;
   margin-top: 12px;
}

/*
 * This resets anchors in a dialog. This is required because the dialog appears outside 
 * of the main body element.
 */
.alfresco-dialog-AlfDialog.dijitDialog a {
   color: @general-font-color;
   text-decoration: none;
}

/*
 * This resets input elements in a dialog
 */
.alfresco-dialog-AlfDialog.dijitDialog input {
   border: @standard-border;
   font-weight: normal;
}

.alfresco-dialog-AlfDialog .dialog-body {
   padding: 12px;
   overflow: hidden;
}

.alfresco-dialog-AlfDialog.no-padding .dialog-body {
   padding: 0px;
}

.alfresco-dialog-AlfDialog .dijitDialogPaneContent {
   border-top: @standard-border;
   padding: 0;
   overflow: hidden !important; /* Wouldn't normally use !important but has to override direct element setting! */
}

.alfresco-dialog-AlfDialog.handleOverflow .dijitDialogPaneContent {
   overflow: auto !important; /* Wouldn't normally use !important but has to override direct element setting! */
}

.alfresco-dialog-AlfDialog .dijitDialogTitleBar {
   background-color: @primary-theme-color;
   background-image: none;
   border: none;
   text-align: center;
   white-space: nowrap;
}

.alfresco-dialog-AlfDialog .dijitDialogTitleBar .dijitDialogTitle {
   font-family: Open Sans Condensed, Arial, Helvetica, sans-serif;
   font-size: 24px;
   line-height: 1.5em;
   padding: 0 1em 0 1em;
   color: @general-font-color;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   display: inline-block;
   max-width: 500px;
}

.alfresco-dialog-AlfDialog .footer {
   background-color: @primary-theme-color;
   background-image: none;
   border: none;
   border-top: @standard-border;
   text-align: center;
   padding: 8px 0;
   width: 100%;
}

.alfresco-dialog-AlfDialog.no-padding .footer {
   position: absolute;
   bottom: 0px;
}