/* Accessibility Menu */
.hiddenAccessible,
.alfresco-accessibility-AccessibilityMenu,
.alfresco-accessibility-AccessibilityMenu__header {
   position: inherit;
   height: auto;
   left: 0;
}

.alfresco-accessibility-AccessibilityMenu__access-key-item__link {
   position: inherit;
   left: 0;
}