.alfresco-share .alfresco-header-AlfCascadingMenu .dijitMenu .dijitMenuItemHover td,
.alfresco-share .alfresco-header-AlfCascadingMenu .dijitMenu .dijitMenuItemSelected td,
.alfresco-share .alfresco-header-AlfCascadingMenu .dijitMenu .dijitMenuItemHover,
.alfresco-share .alfresco-header-AlfCascadingMenu .dijitComboBoxMenu .dijitMenuItemHover,
.alfresco-share .alfresco-header-AlfCascadingMenu .dijitMenuItemSelected {
   background-color: #717171;
   background-image: none;
   background-repeat: no-repeat;
   color: #fff;
}

/* This has been added to set the display for cascading menus - TODO this needs to be changed
   for cases where groups have not been specified. */
.alfresco-share .dijitPopup.Popup .alfresco-header-AlfCascadingMenu {
  border: 1px solid #4D4D4D;
  background-color: #4D4D4D;
  box-shadow: 0.33px 2px 8px rgba(0, 0, 0, 0.3);
  padding: 5px;
}

/* This ensures that the menu text color is white */
.alfresco-share .dijitPopup.Popup .alfresco-header-AlfCascadingMenu .dijitMenuItem {
  color: #fff;
  background-color: #4D4D4D;
}

/* This overrides whatever Dojo theme is used */
.alfresco-share .dijitPopup.Popup .alfresco-header-AlfCascadingMenu .dijitSelectMenu .dijitMenuItemHover td, 
.alfresco-share .dijitPopup.Popup .alfresco-header-AlfCascadingMenu .dijitSelectMenu .dijitMenuItemSelected td, 
.alfresco-share .dijitPopup.Popup .alfresco-header-AlfCascadingMenu .dijitMenuItemHover,
.alfresco-share .dijitPopup.Popup .alfresco-header-AlfCascadingMenu .dijitMenuItemSelected {
  background-color: #717171;
  background-image: none;
  background-repeat: no-repeat;
  color: #fff;
}

/* More specific rule for properly grouped items */
.dijitPopup.Popup .alfresco-header-AlfCascadingMenu .alf-menu-group.dijitMenu .alf-menu-group-items .alf-dropdown-menu {
  border: 1px solid #4D4D4D;
  background-color: #4D4D4D;
  box-shadow: 0.33px 2px 8px rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.alfresco-share .dijitPopup.Popup .alfresco-header-AlfCascadingMenu {
  background-color: transparent;
  border: medium none;
  box-shadow: none;
  padding: 0;
}
