.@{alfresco} .alf-header-menu-bar .dijitMenu .dijitMenuItemHover td,
.@{alfresco} .alf-header-menu-bar .dijitMenu .dijitMenuItemSelected td,
.@{alfresco} .alf-header-menu-bar .dijitMenu .dijitMenuItemHover,
.@{alfresco} .alf-header-menu-bar .dijitComboBoxMenu .dijitMenuItemHover,
.@{alfresco} .alf-header-menu-bar .dijitMenuItemSelected {
   background-color: @header-hover-background-color;
   background-image: none;
   background-repeat: no-repeat;
   color: @header-hover-font-color;
}