.@{alfresco} .alf-menu-arrow {
   margin-left: 3px;
   width: 20px;
   height: 20px;
}

.@{alfresco} .alf-popup-menu-bar-image-item {
   background: url("./images/MenuSearch.PNG");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
   display: block;
}
