.alfresco-header-CurrentUserStatus .status {
  background-color: #fff;
  color: @general-font-color;
  padding: 3px;
  max-width: 180px;
  overflow-x: hidden;
}

.alfresco-header-CurrentUserStatus .status.blank {
   color: #666;
}

.alfresco-header-CurrentUserStatus .lastUpdate {
   color: @header-font-color;
   font-size: 83%;
}