.alfresco-header-Header .alfresco-header-SearchBox {
   top: 2px;
}

.@{alfresco} .alfresco-header-SearchBox {
   margin: 2px 10px 0px 10px;
   background-color: @primary-title-color;
   border-radius: 12px;
   box-shadow: @inset-box-shadow;
   padding-left: 4px;
   padding-bottom: 1px;
   height: 23px;

   .alf-livesearch-item__name {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block;
   }

   a {
      color: @link-emphasized-font-color;
      text-decoration: @link-text-decoration;

      &:hover {
         colour: @link-emphasized-font-color;
         text-decoration: @link-text-decoration-hover;
      }
   }

   .dijit.dijitReset.dijitInline.dijitDropDownButton {
      float: left;
   }

   .dijitReset.dijitInline.dijitButtonNode {
      border: medium none;
   }

   .alfresco-header-SearchBox-menu {
      display: inline-block;
      width: 35px;
   }

   .alfresco-header-SearchBox-menu--hideAdvancedSearch {
      display: inline-block;
      background-repeat: no-repeat;
      background-image: url("./images/search-16.png");
      height: 16px;
      width: 16px;
      vertical-align: middle;
      margin-left: 3px;
   }

   input.alfresco-header-SearchBox-text {
      background-color: @primary-title-color;
      border: none;
      font-size: 100%;
      padding: 0;
      margin-right: 8px;
      margin-left: -6px;
      position: relative;
      top: 2px;
      margin-top: 1px;
      font-family: @standard-font;
   }

   .alfresco-header-SearchBox-text:focus {
      outline: none;
   }

    /* This defines the search icon for use in popup menu items only */
   .alf-search-icon {
      height: 16px;
      width: 16px;
      display: block;
   }

   .alfresco-header-SearchBox-clear {
      display: inline-block;
      width: 16px;
      height: 16px;
      line-height: 12px;
      background-image: url("../../css/images/Delete.PNG");
      background-repeat: no-repeat;
      margin-right: 10px;
   }

   .alf-livesearch {
      position: absolute;
      min-width: 360px;
      max-width: 500px;
      background-color: @list-background-color;
      border: @standard-form-border;
      box-shadow: 0.33px 0px 8px rgba(0, 0, 0, 0.3);
      color: @general-font-color;
      margin-top: 3px;
      z-index: 1000;
      display: none;

      &.right {
         right: 8px;
      }

      .wait {
         background: url("../../css/images/wait.gif") center no-repeat;
      }

      .alf-livesearch-title {
         clear: both;
         font-size: 115%;
         padding: 9px 9px 5px 9px;
      }

      .alf-livesearch-more {
         display: none;
         margin-top: -8px;
         margin-bottom: 4px;
         height: 16px;

         span {
            position: absolute;
            right: 1px;
            height: 10px;
            background: url("../../css/images/ArrowDown.PNG") no-repeat 100% 100%;
            padding-right: 22px;
         }
      }
      
      .alf-livesearch-context {
         div {
            padding: 0px 4px 4px 24px;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
            background: url("./images/search-16.png") no-repeat 10px 9px;
         }
         div.alf-livesearch-context--active {
            background-color: @list-hover-color;
         }
         a {
            margin: 8px 6px 6px 10px;
            display: inline-block;
         }
      }

      .alf-livesearch-list {
         padding: 2px 0px 6px 0px;

         & > div {
            clear: both;
            padding: 6px 10px 8px 8px;

            &:hover {
               background-color: @list-hover-color;
            }
         }

         .alf-livesearch-thumbnail {
            float: left;
            box-shadow: 0px 1px 3px #ccc;
            max-height: 48px;
            overflow: hidden;
         }

         .alf-livesearch-icon {
            float: left;
         }

         .alf-livesearch-item {
            margin-left: 56px;
            line-height: 1.2em;
            &>span {
               font-size: 93%;
               color: @de-emphasized-font-color;
            }
            &>span a {
               color: @de-emphasized-font-color;
            }
         }
      }
   }
}

/* This overrides the header menu bar settings to ensure that the popup menu item is the right height */
.@{alfresco} .alfresco-header-SearchBox-menu .alfresco-menus-AlfMenuBar .dijitMenuBar .dijitReset.dijitInline.dijitMenuItemLabel.dijitMenuItem {
    height: 16px;
    margin-top: 0;
    margin-left: 1px;
    padding-right: 2px;
}