.alfresco-share {
   h1.alfresco-header-Title {
      font-size: 185%;
      font-weight: normal;
      margin-top: 19px;
      > .text {
         color: #333 !important;
         font-family: Open Sans Condensed, Arial, sans-serif;
         text-decoration: none;
         &.has-max-width {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
         }
      }
   }
   .share-header-title {
      border-bottom: 1px solid #ccc;
      > div {
         background-color: #fafafa;
         height: 67px;
      }
   }
}
