.alfresco-share h1.alfresco-header-Title {
   margin-top: 19px;
   font-weight: normal;
   font-size: 185%;
}

.alfresco-share h1.alfresco-header-Title > .text {
   font-family: Open Sans Condensed, Arial, sans-serif;
   color: #333 !important;
   text-decoration: none;
}

.alfresco-share .share-header-title {
   border-bottom: 1px solid #ccc;
}

.alfresco-share .share-header-title > div {
   background-color: #fafafa;
   height: 67px;
}
