.alfresco-header-Warning {

   display: block;

   &--hidden {
      display: none;
   }

   .alfresco-header-Warning__warnings {
      padding: 0.5em 0;
      color: @warning-font-color;
      text-align: center;
      background-color: @warning-background;
      font-size: @warning-font-size;
      border-top: @warning-border;
      border-bottom: @warning-border;
   }

   .alfresco-header-Warning__info
   {
      padding-top: 2px;

      &--hidden {
         display: none;
      }

      .alfresco-header-Warning__image {
         display: inline;
         padding-left: 20px;
      }

      .alfresco-header-Warning {
         &__level0 {
            background: url("./images/warning-16.png") no-repeat scroll 0 0 transparent;
         }

         &__level1 {
            background: url("./images/warning-16.png") no-repeat scroll 0 0 transparent;
         }

         &__level2 {
            background: url("./images/warning-16.png") no-repeat scroll 0 0 transparent;
         }

         &__level3 {
            background: url("./images/error-16.png") no-repeat scroll 0 0 transparent;
         }
      }
   }
}
