<div class="alfresco-lists-AlfList">
   <div data-dojo-attach-point="noDataNode" class="share-hidden no-data">${noDataMessage}</div>
   <div data-dojo-attach-point="dataFailureNode" class="share-hidden data-failure">${dataFailureMessage}</div>
   <div data-dojo-attach-point="viewsNode" data-aikau-loading-message="${fetchingDataMessage}" data-aikau-rendering-message="${renderingViewMessage}" class="alfresco-lists-AlfList__views share-hidden rendered-view"></div>
   <div data-dojo-attach-point="dataLoadingMoreNode" class="share-hidden data-loading-more">${fetchingMoreDataMessage}</div>
</div>