<div class="alfresco-lists-AlfList">
   <div data-dojo-attach-point="noDataNode" class="share-hidden">${noDataMessage}</div>
   <div data-dojo-attach-point="dataFailureNode" class="share-hidden">${dataFailureMessage}</div>
   <div data-dojo-attach-point="dataLoadingNode" class="share-hidden">${fetchingDataMessage}</div>
   <div data-dojo-attach-point="renderingViewNode" class="share-hidden">${renderingViewMessage}</div>
   <div data-dojo-attach-point="viewsNode" class="share-hidden"></div>
   <div data-dojo-attach-point="dataLoadingMoreNode" class="share-hidden">${fetchingMoreDataMessage}</div>
</div>