.@{alfresco} .dijitMenu .dijitMenuItemHover td,
.@{alfresco} .dijitMenu .dijitMenuItemSelected td,
.@{alfresco} .dijitMenu .dijitMenuItemHover,
.@{alfresco} .dijitComboBoxMenu .dijitMenuItemHover,
.@{alfresco} .dijitMenuItemSelected {
   background-color: #f0f0f0;
   background-image: none;
   background-repeat: no-repeat;
}

.@{alfresco} .dijitMenu .dijitMenuItem td, .@{alfresco} .dijitComboBoxMenu .dijitMenuItem {
  border-style: none;
  border-width: 0;
}

.@{alfresco} .dijitReset.dijitInline.dijitMenuItemLabel.dijitMenuItem {
   margin: 0 5px;
   padding: 2px 5px;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   max-width: 150px;
   height: 20px;
}

.alfresco-menus-_AlfMenuItemMixin a.alfresco-navigation-_HtmlAnchorMixin,
.alfresco-menus-_AlfMenuItemMixin a.alfresco-navigation-_HtmlAnchorMixin:hover {
    text-decoration: none;
}

.@{alfresco} img.dijitIcon.dijitMenuItemIcon.alfresco-menus-_AlfMenuItemMixin__icon {
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}