.alfresco-share .dijitMenu .dijitMenuItemHover td,
.alfresco-share .dijitMenu .dijitMenuItemSelected td,
.alfresco-share .dijitMenu .dijitMenuItemHover,
.alfresco-share .dijitComboBoxMenu .dijitMenuItemHover,
.alfresco-share .dijitMenuItemSelected {
   background-color: #f0f0f0;
   background-image: none;
   background-repeat: no-repeat;
}

.alfresco-share .dijitMenu .dijitMenuItem td, .alfresco-share .dijitComboBoxMenu .dijitMenuItem {
  border-style: none;
  border-width: 0;
}

.alfresco-share .dijitReset.dijitInline.dijitMenuItemLabel.dijitMenuItem {
   margin: 0 5px;
   padding: 2px 5px;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   max-width: 150px;
   height: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-edit-icon {
   background: url("./images/Edit.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-cog-icon {
   background: url("./images/Cog.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-leave-icon {
   background: url("./images/Right_Arrow.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-profile-icon {
   background: url("./images/Profile.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-password-icon {
   background: url("./images/Password.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-help-icon {
   background: url("./images/Help.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-logout-icon {
   background: url("./images/Logout.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-simplelist-icon {
   background: url("./images/simple-view-on-16.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-detailedlist-icon {
   background: url("./images/detailed-view-on-16.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-gallery-icon {
   background: url("./images/gallery-view-on-16.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-tableview-icon {
   background: url("./images/table-view-on-16.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-filmstrip-icon {
   background: url("./images/filmstrip-view-on-16.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-showfolders-icon {
   background: url("./images/folders-show-16.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-showpath-icon {
   background: url("./images/navbar-show-16.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-showsidebar-icon {
   background: url("./images/ShowSidebar.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-textdoc-icon {
   background: url("./images/TextDocument.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-htmldoc-icon {
   background: url("./images/HtmlDocument.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-xmldoc-icon {
   background: url("./images/XmlDocument.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-all-icon {
   background: url("./images/AllSelected.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-some-icon {
   background: url("./images/SomeSelected.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-none-icon {
   background: url("./images/NoneSelected.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-delete-icon {
   background: url("./images/delete-16.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-fullscreen-icon {
   background: url("./images/fullscreen-enter.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-enabled-on-icon {
   background: url("./images/enabled-on-16.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-enabled-off-icon {
   background: url("./images/enabled-off-16.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}