.@{alfresco} {

   .dijitMenu {
      .alfresco-menus-AlfCheckableMenuItem {
         &__icon {
            height: 16px;
            width: 16px;
         }

         &--checked {
            .alfresco-menus-AlfCheckableMenuItem {
               &__icon{
                  background-repeat: no-repeat;
                  background-position: 4px 4px;
                  background-image: url("./images/12x12-selected-icon.png");
               }
            }
         }
      }
   }
}



