.alfresco-share div.alf-menu-group.dijitMenu {
  border: none;
}

/* This selector has been added to ensure that the menu item icon in multiple groups
   of menus occupy a fixed width of the popup area. This is required because where there
   are multiple groups in a single popup the space between icon and label can vary.
   TODO: This fixes the width even when no icon is available */
.alfresco-share .alf-menu-group-items td.dijitMenuItemIconCell {
    width: 25px;
}
