.@{alfresco} {
   .alfresco-menus-AlfMenuBarPopup__text-wrapper {
      display: inline-block;
      max-width: 130px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }

   .alfresco-menus-AlfMenuBarPopup__arrow {
      margin-left: 3px;
      width: 20px;
      padding-bottom: 2px;
      vertical-align: top;
   }
}

/* This overrides the default Dojo box shadow for popups. Our box shadow is defined elsewhere */
.@{alfresco} div.dijitPopup.Popup {
    box-shadow: none;
}

/* This is added to the container node of the menu bar popup to make room for an icon when required */
.@{alfresco} .alf-menu-bar-popup-label-node {
   margin-left: 6px;
}

.@{alfresco} .alfresco-menus-AlfMenuBarPopup__icon {
   display: block;
   float: left;
}