.alfresco-share .alf-menu-arrow {
   margin-left: 3px;
   width: 20px;
   height: 20px;
   padding-bottom: 2px;
}


/* This overrides the default Dojo box shadow for popups. Our box shadow is defined elsewhere */
.alfresco-share div.dijitPopup.Popup {
    box-shadow: none;
}

/* This is added to the container node of the menu bar popup to make room for an icon when required */
.alfresco-share .alf-menu-bar-popup-label-node {
   margin-left: 6px;
}

/* This is used for Popup items - NOT menu items */
.alfresco-share .alf-configure-icon {
   background: url("./images/Configure.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
   display: block;
   float: left;
}

/* This is used for Popup items - NOT menu items */
.alfresco-share .alf-user-icon {
   background: url("./images/User.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
   display: block;
   float: left;
}

/* This is used for Popup items - NOT menu items */
.alfresco-share .alf-upload-icon {
   background: url("./images/Upload.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
   display: block;
   float: left;
}

/* This is used for Popup items - NOT menu items */
.alfresco-share .alf-create-icon {
   background: url("./images/Create.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
   display: block;
   float: left;
}

/* This is used for Popup items - NOT menu items */
.alfresco-share .alf-allselected-icon {
   background: url("./images/AllSelected.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
   display: block;
   float: left;
}

/* This is used for Popup items - NOT menu items */
.alfresco-share .alf-someselected-icon {
   background: url("./images/SomeSelected.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
   display: block;
   float: left;
}

/* This is used for Popup items - NOT menu items */
.alfresco-share .alf-noneselected-icon {
   background: url("./images/NoneSelected.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
   display: block;
   float: left;
}

/* This is used for Popup items - NOT menu items */
.alfresco-share .alf-back-icon {
   background: url("./images/back-arrow.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
   display: block;
   float: left;
}

/* This is used for Popup items - NOT menu items */
.alfresco-share .alf-forward-icon {
   background: url("./images/forward-arrow-16.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
   display: block;
   float: left;
}