.alfresco-pickers-Picker {
   height: 210px;

   & > div {
      float: left;
   }

   .sub-pickers > div,
   .picked-items > div {
      border: @standard-border;
      float: left;
      height: 270px;
      margin: @standard-column-spacing @standard-column-spacing 0;
      min-width: 180px; /* avoid the box appearing very small. */
      overflow-y: scroll;
      padding: @standard-column-spacing;
   }

   .sub-pickers {

      /* Remove styling from DocumentList widgets */
      .alfresco-documentlibrary-AlfDocumentList {
         border: @standard-border;
         margin: 0 2px;
      }

      .alfresco-lists-AlfList > div.info,
      .alfresco-documentlibrary-views-layouts-AlfDocumentListView {
         margin: 0;
         padding: 0;
      }

      /* Style Menu bar specially */
      .alfresco-menus-AlfMenuBar {
         border: none;
         overflow-y: auto;

         /* This needs this many selectors to override the style in _AlfMenuItemMixin.css */
         .dijitReset.dijitInline.dijitMenuItemLabel.dijitMenuItem {
            padding: @standard-column-spacing;
         }
      }
   }

   .picked-items-label,
   .sub-pickers-label {
      padding: @standard-column-spacing;
   }
   
   .alfresco-documentlibrary-views-layouts-AlfDocumentListView > table > tbody > tr > td {
      padding: 6px 8px 6px 0;
   }
}
