<div class="alfresco-renderers-Thumbnail ${customClasses}" data-dojo-attach-point="thumbnailNode" data-dojo-attach-event="ondijitclick:onLinkClick">
   <span class="link hidden" data-dojo-attach-point="linkNode"></span>
   <span class="droppable hidden" data-dojo-attach-point="droppableNode"></span>
   <div class="selectBar share-hidden" data-dojo-attach-point="titleNode">
      <div data-dojo-attach-point="selectBarNode"></div>
   </div>
   <div class="displayName" data-dojo-attach-point="displayNameNode">${imgTitle}</div>
   <span class="inner">
      <img data-dojo-attach-point="imgNode" id="${imgId}" src="${thumbnailUrl}" alt="${imgAltText}" title="${imgTitle}"/>
   </span>
</div>
