<span class="alfresco-renderers-Toggle" data-dojo-attach-event="ondijitclick:onClick">
   <span data-dojo-attach-point="processingNode" class="processing ${toggleClass} hidden"></span>
   <a data-dojo-attach-point="onNode" class="on ${toggleClass} enabled hidden" title="${onTooltip}" tabindex="0">${onLabel}</a>
   <a data-dojo-attach-point="offNode"class="off ${toggleClass} hidden" title="${offTooltip}" tabindex="0">${offLabel}</a>
   <span data-dojo-attach-point="countNode" class="count">${likeCount}</span>
   <span data-dojo-attach-point="warningNode" class="warning ${toggleClass} hidden"></span>
</span>
