# Ignored directories (please keep alphabetical)
/bin/
/code-coverage-reports/
/docs/
/node_modules/
/src/main/resources/alfrescoInst/
/src/test/vagrant/.vagrant/
/target/

# Ignored files (please keep alphabetical)
/src/test/resources/testApp/js/aikau/testing/RequireEverything.js
