.alfresco-html-Image {
   display: inline-block;
   font-size: 0; // This stops white-space from expanding the container div
   &__img {
      background-repeat: no-repeat;
      display: inline-block;
      &.alfresco-logo-community {
         background-image: url(./images/alfresco-community.png);
         height: 27px;
         width: 215px;
      }
      &.alfresco-logo-one {
         background-image: url(./images/alfresco-one.png);
         height: 27px;
         width: 149px;
      }
      &.alfresco-logo-large {
         background-image: url(./images/alfresco.png);
         background-position: 5px 5px;
         background-size: auto auto;
         height: 48px;
         width: 184px;
      }
      &.alfresco-logo-grey {
         background-image: url(./images/alfresco_grey.png);
         height: 43px;
         width: 187px;
      }
      &.alfresco-logo-only {
         background-image: url(./images/app-logo-48.png);
         height: 48px;
         width: 48px;
      }
      &.surf-logo-small {
         background-image: url(./images/surf32.jpg);
         height: 34px;
         width: 32px;
      }
      &.surf-logo-large {
         background-image: url(./images/SurfLogo200.jpg);
         height: 85px;
         width: 200px;
      }
   }
   &--block {
      display: block;
   }
   &--advanced-sizing {
      .alfresco-html-Image {
         &__img {
            background-size: 100% 100%;
         }
      }
   }
}
