.alfresco-buttons-AlfButton {
   background-color: @standard-button-background-color;
   background-image: none;
   border: @standard-button-border;
   border-radius: 0;
   font-size: @standard-button-font-size;
   margin: 0;
   margin-right: @standard-column-width;
   span {
      line-height: @standard-button-font-size + 2;
      &.dijitIcon.alf-white-search-icon {
         background-image: url("./images/20x20-search-icon-white.png");
         background-repeat: no-repeat;
         height: 20px;
         text-align: center;
         width: 24px;
      }
   }
   .dijitReset.dijitInline.dijitButtonNode {
      background: none repeat scroll 0 0;
      border: none;
      border-radius: 0;
      box-shadow: none;
      color: @standard-button-font-color;
      padding: 3px 10px;
   }
   &.dijitButtonFocused, &.dijitButtonHover {
      border: @standard-button-focus-border;
   }
   &.call-to-action {
      background-color: @call-to-action-button-background-color;
      border: @call-to-action-button-border;
      .dijitReset.dijitInline.dijitButtonNode {
         color: @call-to-action-button-font-color;
      }
      &.dijitButtonFocused, &.dijitButtonHover {
         border: @call-to-action-button-focus-border;
      }
   }
   &.dijitButtonDisabled {
      .dijitReset.dijitInline.dijitButtonNode {
         color: rgba(red(@standard-button-font-color), green(@standard-button-font-color), blue(@standard-button-font-color), .4);
      }
      &.call-to-action .dijitReset.dijitInline.dijitButtonNode {
         color: rgba(red(@call-to-action-button-font-color), green(@call-to-action-button-font-color), blue(@call-to-action-button-font-color), .4);
      }
      span.dijitIcon.alf-white-search-icon {
         opacity: .4;
      }
   }
}
