.alfresco-buttons-AlfButton {
   background: @standard-button-background;
   border: @standard-button-border;
   border-radius: @standard-button-border-radius;
   box-sizing: border-box;
   font-size: 0;
   margin: @standard-button-margin;
   padding: @standard-button-padding;

   .buttonMixin(@use-legacy-buttons);
   * {
      box-sizing: inherit;
   }
   .alf-white-search-icon {
      background-image: url("./images/20x20-search-icon-white.png");
      background-repeat: no-repeat;
      height: 20px;
      text-align: center;
      width: 24px;
   }
   .dijitButtonText {
      font-family: @standard-button-font-family;
      font-size: @standard-button-font-size;
      font-weight: @standard-button-font-weight;
      padding: @standard-button-text-padding;
      margin: @standard-button-text-margin;
   }
   .dijitReset.dijitInline.dijitButtonNode {
      background: none repeat scroll 0 0;
      border: none;
      border-radius: 0;
      box-shadow: none;
      color: @standard-button-font-color;
      padding: 0;
   }
   &.dijitButtonFocused, &.dijitButtonHover {
      background: @standard-button-background-focus;
      border: @standard-button-border-focus;
      .dijitReset.dijitInline.dijitButtonNode {
         color: @standard-button-font-color-focus;
      }
   }
   &.dijitButtonActive {
      background: @standard-button-background-active;
      border: @standard-button-border-active;
      .dijitReset.dijitInline.dijitButtonNode {
         color: @standard-button-font-color-active;
      }
   }
   &.dijitButtonDisabled {
      background: @standard-button-background-disabled;
      border: @standard-button-border-disabled;
      .dijitReset.dijitInline.dijitButtonNode {
         color: @standard-button-font-color-disabled;
      }
      .alf-white-search-icon {
         opacity: .5;
      }
   }
   &.call-to-action, &.primary-call-to-action {
      background: @call-to-action-button-background;
      border: @call-to-action-button-border;
      border-radius: @call-to-action-button-border-radius;
      margin: @call-to-action-button-margin;
      padding: @call-to-action-button-padding;
      .dijitButtonText {
         font-family: @call-to-action-button-font-family;
         font-size: @call-to-action-button-font-size;
         font-weight: @call-to-action-button-font-weight;
         padding: @call-to-action-button-text-padding;
         margin: @call-to-action-button-text-margin;
      }
      .dijitReset.dijitInline.dijitButtonNode {
         color: @call-to-action-button-font-color;
      }
      &.dijitButtonFocused, &.dijitButtonHover {
         background: @call-to-action-button-background-focus;
         border: @call-to-action-button-border-focus;
         .dijitReset.dijitInline.dijitButtonNode {
            color: @call-to-action-button-font-color-focus;
         }
      }
      &.dijitButtonActive {
         background: @call-to-action-button-background-active;
         border: @call-to-action-button-border-active;
         .dijitReset.dijitInline.dijitButtonNode {
            color: @call-to-action-button-font-color-active;
         }
      }
      &.dijitButtonDisabled {
         background: @call-to-action-button-background-disabled;
         border: @call-to-action-button-border-disabled;
         .dijitReset.dijitInline.dijitButtonNode {
            color: @call-to-action-button-font-color-disabled;
         }
      }
   }
   &.primary-call-to-action {
      background: @primary-call-to-action-button-background;
      border: @primary-call-to-action-button-border;
      &.dijitButtonFocused, &.dijitButtonHover {
         background: @primary-call-to-action-button-background-focus;
         border: @primary-call-to-action-button-border-focus;
      }
      &.dijitButtonActive {
         background: @primary-call-to-action-button-background-active;
         border: @primary-call-to-action-button-border-active;
      }
   }
   &.biggerBolder .dijitButtonText {
      font-family: @bold-font;
      font-size: @large-font-size;
      font-weight: @standard-button-font-weight;
   }
}
