.alfresco-documentlibrary-views-layouts-Cell {
   
}

.alfresco-documentlibrary-views-layouts-Cell.smallpad {
   padding: 4px;
}

.alfresco-documentlibrary-views-layouts-Cell.mediumpad {
   padding: 10px;
}

.alfresco-documentlibrary-views-layouts-Cell.largepad {
   padding: 16px;
}