<tr class="alfresco-search-AlfSearchResult" data-dojo-attach-point="containerNode" data-dojo-attach-event="onclick:onFocusClick" tabindex="0">
   <td class="thumbnailCell"><div data-dojo-attach-point="thumbnailNode"></div></td>
   <td class="propertiesCell">
      <div class="nameAndTitleCell">
         <span data-dojo-attach-point="nameNode"></span>
         <span data-dojo-attach-point="titleNode"></span>
         <span data-dojo-attach-point="moreInfoNode"></span>
      </div>
      <div class="dateCell"><span data-dojo-attach-point="dateNode"></span></div>
      <div class="descriptionCell" data-dojo-attach-point="descriptionRow"><span data-dojo-attach-point="descriptionNode"></span></div>
      <div class="siteCell" data-dojo-attach-point="siteRow"><span data-dojo-attach-point="siteNode"></span></div>
      <div class="pathCell" data-dojo-attach-point="pathRow"><span data-dojo-attach-point="pathNode"></span></div>
      <div class="sizeCell" data-dojo-attach-point="sizeRow"><span data-dojo-attach-point="sizeNode"></span></div>
   </td>
   <td class="actionsCell"><div data-dojo-attach-point="actionsNode"/></td>
</tr>