<div class="alfresco-search-AlternativeSearchLabel">
   <div class="searched-for-term">
      <span class="search-term-prefix">${searchedForLabel}</span><span class="search-term-link" data-dojo-attach-event="ondijitclick:onSearchFor" data-dojo-attach-point="searchedForNode"></span>
   </div>
   <div class="original-term">
      <span class="search-term-prefix">${searchInsteadForLabel}</span><span class="search-term-link" data-dojo-attach-event="ondijitclick:onSearchInsteadFor" data-dojo-attach-point="searchRequestNode"></span>
   </div>
</div>