<div class="alfresco-pickers-Picker">
   <div data-dojo-attach-point="subPickersContainer">
      <div class="sub-pickers-label" data-dojo-attach-point="subPickersLabelNode"></div>
      <div class="sub-pickers" data-dojo-attach-point="subPickersNode"></div>
   </div>
   <div data-dojo-attach-point="pickedItemsContainer">
      <div class="picked-items-label" data-dojo-attach-point="pickedItemsLabelNode"></div>
      <div class="picked-items" data-dojo-attach-point="pickedItemsNode"></div>
   </div>
   <div class="clear-both"></div>
</div>