<div class="alfresco-testing-MockXhr alfresco-testing-MockXhr" data-dojo-attach-point="containerNode">
   <table class="log">
      <caption data-dojo-attach-event="onclick:_toggleBody">MockXhr Log (toggle visibility)</caption>
      <thead class="mx-thead">
         <tr>
            <th class="mx-method">Method</th>
            <th class="mx-url">URL</th>
            <th class="mx-payload">Payload</th>
            <th class="mx-response">Response</th>
         </tr>
      </thead>
      <tbody class="mx-tbody" data-dojo-attach-point="logNode">
      </tbody>
   </table>
</div>