<div class="alfresco-testing-MockXhr" data-dojo-attach-point="containerNode">
   <table class="log">
      <caption>
         MockXhr Log
         <button id="mockXhr_toggleBody" data-dojo-attach-event="onclick:_toggleBody" class="alfresco-testing-MockXhr__toggle-body">toggle body</button>
         <button id="mockXhr_clearLog" data-dojo-attach-event="onclick:_clearLog" class="alfresco-testing-MockXhr__clear-log">clear log</button>
      </caption>
      <thead class="mx-thead">
         <tr>
            <th class="mx-method">Method</th>
            <th class="mx-url">URL</th>
            <th class="mx-request-headers">Headers</th>
            <th class="mx-request-body">Body</th>
            <th class="mx-response">Response</th>
         </tr>
      </thead>
      <tbody class="mx-tbody" data-dojo-attach-point="logNode">
      </tbody>
   </table>
</div>