.alfresco-testing-MockXhr {
   table, tr, th, td, caption {
      border-collapse: collapse;
   }
   table {
      border: 1px solid #808080;
      margin-bottom: 10px;
      width: 100%;
   }
   tr {
      border: none;
      .mx-row:nth-child(odd), .mx-object-row:nth-child(odd) {
         background-color: #eee;
      }
      .mx-row:nth-child(even), .mx-object-row:nth-child(even) {
         background-color: #fff;
      }
   }
   th, td, caption {
      border: 1px solid #808080;
      padding: 4px;
   }
   td > table {
      border: none;
   }
   caption {
      border-bottom: none;
      font-size: 1.1em;
      font-weight: 700;
      text-align: left;
   }
   .mx-response {
      position: relative;
      &__info {
         background: white;
         border: 1px solid black;
         box-shadow: 1px 1px 5px rgba(0,0,0,.8);
         margin: 0;
         opacity: 0;
         padding: 10px;
         position: absolute;
         right: -100%;
         text-align: right;
         top: 100%;
         transition: opacity .2s ease-out, right .2s ease-out;
         dt, dd {
            display: block;
         }
         dt {
            margin-top: 5px;
            &:first-child {
               margin-top: 0;
            }
         }
      }
      &:hover {
         .mx-response__info {
            opacity: 1;
            right: 0;
         }
      }
   }
}
