.alfresco-testing-MockXhr {
   margin-top: 25px;
   table, tr, th, td, caption {
      border-collapse: collapse;
   }
   table {
      border: 1px solid #808080;
      margin-bottom: 10px;
      width: 100%;
   }
   tr {
      border: none;
      &.mx-row:nth-child(odd), &.mx-object-row:nth-child(odd) {
         background-color: #eee;
      }
      &.mx-row:nth-child(even), &.mx-object-row:nth-child(even) {
         background-color: #fff;
      }
   }
   th, td, caption {
      border: 1px solid #808080;
      padding: 4px;
   }
   td > table {
      border: none;
   }
   caption {
      background: #ccc;
      border-bottom: none;
      cursor: pointer;
      font-size: 1.1em;
      font-weight: 700;
      text-align: left;
   }
   &__toggle-body, &__clear-log {
      background: @standard-button-background;
      border: @standard-button-border;
      border-radius: @standard-button-border-radius;
      color: @standard-button-font-color;
      cursor: pointer;
      font-size: 10px;
      line-height: 15px;
      margin-left: 10px;
      padding: 0 5px;
      position: relative;
      &:hover, &:focus {
         color: @standard-button-font-color-focus;
         outline: 0;
      }
      &:active {
         color: @standard-button-font-color-active;
         left: 1px;
         top: 1px;
      }
   }
   .mx-response {
      position: relative;
      &__info {
         background: white;
         border: 1px solid #aaa;
         box-shadow: 1px 1px 5px rgba(0,0,0,.8);
         display: none;
         margin: 0;
         padding: 10px;
         position: absolute;
         right: 105%;
         text-align: right;
         top: 8px;
         z-index: 1;
         dt, dd {
            display: block;
            margin: 0;
         }
         dt {
            border-bottom: 1px solid #000;
            font-size: 16px;
            margin: 15px 0 2px;
            padding-bottom: 2px;
            &:first-child {
               margin-top: 0;
            }
         }
         dd {
            .nowrap {
               white-space: nowrap;
            }
         }
      }
      &:hover {
         .mx-response__info {
            display: block;
         }
      }
   }
   &--hide-body {
      opacity: .3;
      caption {
         border-bottom: 1px solid #808080;
      }
      .mx-tbody, .mx-thead {
         display: none;
      }
   }
}
