.alfresco-accessibility-AccessibilityMenu {
   position: absolute;
   left: 0;
   top: 0;
   height: 0;
   width: 100%;
   margin-left: 0;
   text-align: center;

   &__header {
      position: absolute;
      left: -99999px;
   }

   &__access-key-list {
      list-style: outside none;
   }

   &__access-key-item {
      list-style-type: none;

      &__link {
         position: absolute;
         left: -99999px;
         top: 58px;

         &:focus,
         &:active {
            position: relative;
            left: 0;
            z-index: 9999;
            width: 75%;
            height: auto;
            margin: 0 auto;
            padding: 20px 25px;
            text-align: center;
            text-decoration: @link-text-decoration;
            font: bold 30px "Arial", "Freesans", sans-serif;
            color: #333;
            background-color: #fff;
            opacity: 0.80;
            border: 1px solid #333;
         }
      }
   }
}